<div class="detail application-user-detail">
 <div class="wrokflow-simulate" *ngIf="showWorkflowSimulator">
        <span class="arrow_box">Workflow Simulator</span>
        <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded wrokflow-simulate-btn"  [fitContent]="false"  (click)="openWorkflowSimilator()"></button>
    </div>
   <div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar" *ngIf="(isMobile && !isSearchFocused) || !isMobile">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
        <div class="w-100"  *ngIf="showBreadcrumb"> <app-breadcrumb></app-breadcrumb></div>
        <app-action-bar [buttons] = "leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'" [style.width]="'25%'" [style.overflow]="'hidden'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><app-workflow-action-bar [buttons] = "workflowActionBarConfig.children"
(onBtnClick)='workflowActionBarAction($event)'
[workflow]="workflowActions"
[style.order]="isMobile?'1':'0'" [style.overflow]="'hidden'">
</app-workflow-action-bar>
    </div>
</div><ul class="nav  caption-bar" *ngIf="detailCaptionBarConfig?.children?.length > 0 && data.sid" [ngStyle]="{width: detailCaptionBarConfig.width, 'justify-content':detailCaptionBarConfig.align}" id="caption-bar">
        <li class="nav-item" *ngFor="let captionItem of detailCaptionBarConfig.children" [style.display]="((captionItem.showOn =='mobile_only' && isMobile) || (captionItem.showOn =='desktop_only' && !isMobile) || (captionItem.showOn =='both')||(!captionItem.showOn))?'block':'none'">
            <div class="card" *ngIf="data && formatCaptionItems(captionItem,data)">
                <div class="card-body">
                   <h5 class="card-title" >{{captionItem.label | translate}}</h5>
                          <div *ngIf="!captionItem.render" class="card-sub-title" [innerHTML]="data && formatCaptionItems(captionItem,data)">
                         </div>
                    <div *ngIf="captionItem.render" class="card-sub-title">
                        <div [innerHtml]="captionItem.render(captionItem)"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul><div class="ev-detail-view" id="detail-view-container">
    <div class="detail-flex-box">
        <div class="flex align-items-center justify-content-center wizard-container col-2" *ngIf="wizardItems?.length && showScrollSpy" id="detail-wizard">
            <p-tieredMenu #menu [model]="wizardItems"></p-tieredMenu>
        </div>
        <div class="flex align-items-center justify-content-center form-container">
            <form class="ev-form " [formGroup]="detailFormControls" #detailForm [ngClass]="{'read-only-fields':enableReadOnly}">
                <div class="row form-body">
                    <div class="form-row vg-col-1">
                        <div class="form-col" [hidden]="hiddenFields.email" id="email">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.email?.isRequired, 'error':inValidFields.email}">
        <label for="email" class="col-form-label email-label" [textContent]="'EMAIL'|translate"></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.email?.infoBubble"   [pTooltip]="formFieldConfig?.email?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control"  formControlName="email"  [placeholder]="formFieldConfig?.email?.placeHolder || ''">
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.email?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.firstName" id="firstName">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.firstName?.isRequired, 'error':inValidFields.firstName}">
        <label for="firstName" class="col-form-label firstName-label" [textContent]=" 'FIRST_NAME'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.firstName?.infoBubble"   [pTooltip]="formFieldConfig?.firstName?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="firstName" [placeholder]="formFieldConfig?.firstName?.placeHolder || ''"
[maxlength]="formFieldConfig?.firstName?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.firstName?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.lastName" id="lastName">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.lastName?.isRequired, 'error':inValidFields.lastName}">
        <label for="lastName" class="col-form-label lastName-label" [textContent]=" 'LAST_NAME'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.lastName?.infoBubble"   [pTooltip]="formFieldConfig?.lastName?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="lastName" [placeholder]="formFieldConfig?.lastName?.placeHolder || ''"
[maxlength]="formFieldConfig?.lastName?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.lastName?.helpText || ''}}</div>
    </div>
</div><div class="section-col USER_ROLES_class" id="sectionUSER_ROLES">
    <div class="form-section">
        <h5 class="header" [innerHTML]="'USER_ROLES'|translate"></h5>
        <div class="form-row  vg-col-1">
            <div class="form-col" [hidden]="hiddenFields.localAdministrator" id="localAdministrator">
    <div class="field-row checkbox-info"  [ngClass]="{'required': formFieldConfig?.localAdministrator?.isRequired, 'error':inValidFields.localAdministrator}">
        <label for="localAdministrator" class="col-form-label localAdministrator-label d-none" [textContent]="'LOCAL_ADMINISTRATOR'|translate"></label>
        <p-checkbox class="form-input" formControlName="localAdministrator" label="{{'LOCAL_ADMINISTRATOR' | translate}}" binary="true"></p-checkbox>
        <span class="info-bubble" *ngIf="formFieldConfig?.localAdministrator?.infoBubble"   [pTooltip]="formFieldConfig?.localAdministrator?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.localAdministrator?.helpText || ''}}</div>
    </div>
</div>
<div class="form-col" [hidden]="hiddenFields.centralAdministratorNl" id="centralAdministratorNl">
    <div class="field-row checkbox-info"  [ngClass]="{'required': formFieldConfig?.centralAdministratorNl?.isRequired, 'error':inValidFields.centralAdministratorNl}">
        <label for="centralAdministratorNl" class="col-form-label centralAdministratorNl-label d-none" [textContent]="'CENTRAL_ADMINISTRATOR_NL'|translate"></label>
        <p-checkbox class="form-input" formControlName="centralAdministratorNl" label="{{'CENTRAL_ADMINISTRATOR_NL' | translate}}" binary="true"></p-checkbox>
        <span class="info-bubble" *ngIf="formFieldConfig?.centralAdministratorNl?.infoBubble"   [pTooltip]="formFieldConfig?.centralAdministratorNl?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.centralAdministratorNl?.helpText || ''}}</div>
    </div>
</div>
<div class="form-col" [hidden]="hiddenFields.centralAdministratorDe" id="centralAdministratorDe">
    <div class="field-row checkbox-info"  [ngClass]="{'required': formFieldConfig?.centralAdministratorDe?.isRequired, 'error':inValidFields.centralAdministratorDe}">
        <label for="centralAdministratorDe" class="col-form-label centralAdministratorDe-label d-none" [textContent]="'CENTRAL_ADMINISTRATOR_DE'|translate"></label>
        <p-checkbox class="form-input" formControlName="centralAdministratorDe" label="{{'CENTRAL_ADMINISTRATOR_DE' | translate}}" binary="true"></p-checkbox>
        <span class="info-bubble" *ngIf="formFieldConfig?.centralAdministratorDe?.infoBubble"   [pTooltip]="formFieldConfig?.centralAdministratorDe?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.centralAdministratorDe?.helpText || ''}}</div>
    </div>
</div>
<div class="form-col" [hidden]="hiddenFields.agriApprover" id="agriApprover">
    <div class="field-row checkbox-info"  [ngClass]="{'required': formFieldConfig?.agriApprover?.isRequired, 'error':inValidFields.agriApprover}">
        <label for="agriApprover" class="col-form-label agriApprover-label d-none" [textContent]="'AGRI_APPROVER'|translate"></label>
        <p-checkbox class="form-input" formControlName="agriApprover" label="{{'AGRI_APPROVER' | translate}}" binary="true"></p-checkbox>
        <span class="info-bubble" *ngIf="formFieldConfig?.agriApprover?.infoBubble"   [pTooltip]="formFieldConfig?.agriApprover?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.agriApprover?.helpText || ''}}</div>
    </div>
</div>

        </div>
    </div>
</div>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>
</div>
