$list-subheader-font-size:1.3rem;
$home-page-card-button-font-color:#ffffff;
$sidebar-font-style:normal;
$home-page-card-button-background-color:#1a73e8;
$primary-font-weight:normal;
$breadcrumb-font-weight:normal;
$base-disable-mask-z-index:unset;
$search-font-family:poppins;
$detail-form-button-font-color:#1a73e8;
$primary-font-style:normal;
$sidebar-font-family:poppins;
$reset-columns-modal-bg-color:#fff;
$home-page-card-desc-font-color:#9f9f9f;
$base-box-shadow-display:none;
$detail-form-help-info-bubble-font-color:#6699dc;
$list-body-font-style:normal;
$list-body-font-weight:400;
$primary-color:#94c11c;
$caption-font-weight:normal;
$detail-form-primary-button-border-color:#72767b;
$app-title-color:#72767b;
$detail-button-text-color:#ffff;
$primary-font-family:poppins;
$home-page-card-background-color:#ffffff;
$list-header-text-color:#008c35;
$detail-form-inner-section-header-font-color:#aeaeae;
$header-secondary-color:#72767b;
$detail-form-inner-tab-font-color:#2196f3;
$header-secondary-icon-color:#72767b;
$list-body-text-color:#63676b;
$header-primary-font-size:1rem;
$detail-form-tab-link-color:#1a73e8;
$actionbar-primary-button-border-color:#1a73e8;
$base-disable-mask-position:unset;
$list-checkbox-body-selection-color:#1a73e8;
$error-border-color:#f00;
$app-theme-background-color:#f2f3f7;
$detail-form-inner-tab-background-color:#ffffff;
$list-page-title-color:#ffff;
$list-subheader-text-color:#72767b;
$detail-form-button-color:#000;
$header-font-family:poppins;
$detail-form-button-background-color:#ffff;
$home-page-font-family:poppins;
$header-secondary-icon-font-size:1rem;
$detail-form-section-header-font-color:#008c35;
$primary-color-2:#458dec;
$primary-color-3:#76abf0;
$search-font-weight:normal;
$home-page-card-desc-font-size:1rem;
$caption-subtitle-font-size:1.33rem;
$sidebar-active-menu-background-color:#e0f3ff;
$sidebar-submenu-icon-color:#72767b;
$detail-form-background-color:#ffffff;
$header-primary-icon-color:#3f6ad8;
$sidebar-float-menu-icon-color:#1a73e8;
$detail-form-error-border-color:#f00;
$app-title-font-size:2.1rem;
$detail-form-button-hover-background-color:#1a73e887;
$spinner-color:#3f6ad8;
$sidebar-font-size:1.6rem;
$detail-form-tab-background-color:#ffffff;
$sidebar-submenu-background-color-hover:#e0f3ff;
$list-header-font-weight:500;
$list-row-hover-border-color:#1a73e8;
$home-page-font-size:1.6rem;
$form-control-border-radius:0.6rem;
$header-font-weight:normal;
$list-subheader-font-weight:600;
$primary-highlight-color:#3f6ad8;
$form-control-font-size:1.33rem;
$caption-font-color:#72767b;
$home-page-card-title-font-size:1.6rem;
$list-subheader-row-height:4.5rem;
$advanced-search-primary-button-label-color:#ffff;
$search-border-color:#008c35;
$list-navigation-icon-color:#1a73e8;
$sidebar-font-weight:normal;
$search-placeholder-font-size:1.2rem;
$search-placeholder-text-color:#008c35;
$primary-icon-size:2rem;
$header-font-style:normal;
$primary-font-size:1.6rem;
$sidebar-float-menu-font-size:1.4rem;
$detail-form-error-background-color:#f6a09d33;
$button-font-size:1.35rem;
$sidebar-submenu-font-size:1.4rem;
$search-background-color:#008c35;
$list-header-font-family:poppins;
$list-button-background-color:#008c35;
$detail-form-tab-nav-background-color:#f1f4f6;
$page-title-font-family:poppins;
$advanced-search-secondary-button-label-color:#ffff;
$search-text-color:#ffff;
$detail-form-section-header-border-color:#008c35;
$list-header-background-color:rgba(148,193,28,0.22);
$detail-form-outer-tab-background-color:#f1f4f6;
$secondary-color:#ffff;
$sidebar-float-submenu-font-color:#72767b;
$header-font-size:1.6rem;
$list-checkbox--header-selection-color:#ffff;
$form-label-font-family:poppins;
$reset-columns-icon-color:#3f6ad8;
$caption-title-font-size:1.2rem;
$white-color:#ffff;
$advanced-search-background-color:#ffff;
$sidebar-active-sub-menu-background-color:#fff;
$list-subheader-font-family:poppins;
$page-title-font-style:normal;
$detail-page-title-color:#72767b;
$header-primary-icon-font-size:1.5rem;
$detail-titlebar-background-color:#ffffff00;
$detail-form-primary-button-background-color:#dadce0;
$detail-form-control-text-color:#72767b;
$list-header-font-size:1.25rem;
$detail-form-control-border-radius:0.8rem;
$sort-inactive:#bfd7f9;
$actionbar-default-button-border-color:#1a73e8;
$search-font-size:1.3rem;
$sidebar-submenu-hover-font-color:auto;
$caption-font-size:1.2rem;
$base-disable-mask-height:unset;
$sidebar-background-color:#ffff;
$list-checkbox-body-border-color:#dadce0;
$home-page-font-style:normal;
$home-page-card-button-font-size:1.2rem;
$sidebar-menu-font-color:#666666;
$ternary-color-1:#9f9f9f;
$list-subheader-font-style:normal;
$ternary-color-2:#a5a5a5;
$ternary-color-3:#4c576d;
$advanced-search-primary-button-background-color:#008c35;
$home-page-card-title-font-color:#1a73e8;
$button-font-family:poppins;
$list-checkbox-body-background-color:#ffff;
$secondary-color-5:#dadce0;
$header-secondary-font-size:1.5rem;
$secondary-color-4:#e8f0fd;
$list-body-font-size:1.25rem;
$detail-form-control-border-color:#e0dfdf;
$secondary-color-3:#f8f9fa;
$list-body-background-color:#ffff;
$secondary-color-2:#f4f4f4;
$secondary-color-1:#e6e6e6;
$caption-font-style:normal;
$detail-form-inner-section-header-border-color:#aeaeae;
$list-button-border-color:#008c35;
$sidebar-float-menu-font-color:#1a73e8;
$sort-active:#1a73e8;
$base-disable-mask-width:unset;
$sidebar-menu-font-size:1.6rem;
$list-button-text-color:#ffff;
$sidebar-submenu-font-color:#72767b;
$sidebar-float-submenu-font-size:1.4rem;
$sort-badge-color:#ffff;
$detail-button-background-color:#008c35;
$header-background-color:#ffff;
$ternary-color:#72767b;
$detail-form-button-box-shadow-color:#d6d6d6;
$form-control-height:3.2rem;
$breadcrumb-font-size:1.3rem;
$scroll-bar-thumb-background-color:#1a73e8;
$actionbar-default-button-background-color:#ffff;
$list-body-hover-background-color:#f6f6f6;
$list-body-font-family:poppins;
$list-titlebar-background-color:#94c11c;
$sidebar-menu-icon-color:#666666;
$error-bg-color:#f00;
$advanced-search-title-color:#008c35;
$detail-form-text-color:#858282;
$home-page-font-weight:normal;
$primary-form-bg-color:#ffffff;
$form-input-font-family:"lato",_sans-serif;
$detail-form-radio-border-color:#dadce0;
$caption-font-family:poppins;
$ternary-font-size:10px;
$list-checkbox-header-background-color:#008c35;
$header-primary-color:#3f6ad8;
$secondary-font-size:1.3rem;
$scroll-bar-track-background-color:#ffff;
$sidebar-float-submenu-icon-color:#72767b;
$list-checkbox--body-selection-color:#1a73e8;
$detail-form-help-text-font-color:#555;
$list-header-font-style:normal;
$app-title-fontsize:24px;
$list-subheader-background:transparent;
$page-title-font-weight:normal;
$advanced-search-secondary-button-background-color:#9e9fa0;
$page-title-font-size:1.8rem;
$search-font-style:normal;
$breadcrumb-font-color:#fff;
$detail-form-control-error-border-color:#f44336;
