<div class="detail farmer-certificates-detail">
 <div class="wrokflow-simulate" *ngIf="showWorkflowSimulator">
        <span class="arrow_box">Workflow Simulator</span>
        <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded wrokflow-simulate-btn"  [fitContent]="false"  (click)="openWorkflowSimilator()"></button>
    </div>
   <div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar" *ngIf="(isMobile && !isSearchFocused) || !isMobile">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
        <div class="w-100"  *ngIf="showBreadcrumb"> <app-breadcrumb></app-breadcrumb></div>
        <app-action-bar [buttons] = "leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'" [style.width]="'25%'" [style.overflow]="'hidden'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><app-workflow-action-bar [buttons] = "workflowActionBarConfig.children"
(onBtnClick)='workflowActionBarAction($event)'
[workflow]="workflowActions"
[style.order]="isMobile?'1':'0'" [style.overflow]="'hidden'">
</app-workflow-action-bar>
    </div>
</div><ul class="nav  caption-bar" *ngIf="detailCaptionBarConfig?.children?.length > 0 && data.sid" [ngStyle]="{width: detailCaptionBarConfig.width, 'justify-content':detailCaptionBarConfig.align}" id="caption-bar">
        <li class="nav-item" *ngFor="let captionItem of detailCaptionBarConfig.children" [style.display]="((captionItem.showOn =='mobile_only' && isMobile) || (captionItem.showOn =='desktop_only' && !isMobile) || (captionItem.showOn =='both')||(!captionItem.showOn))?'block':'none'">
            <div class="card" *ngIf="data && formatCaptionItems(captionItem,data)">
                <div class="card-body">
                   <h5 class="card-title" >{{captionItem.label | translate}}</h5>
                          <div *ngIf="!captionItem.render" class="card-sub-title" [innerHTML]="data && formatCaptionItems(captionItem,data)">
                         </div>
                    <div *ngIf="captionItem.render" class="card-sub-title">
                        <div [innerHtml]="captionItem.render(captionItem)"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul><div class="ev-detail-view" id="detail-view-container">
    <div class="detail-flex-box">
        <div class="flex align-items-center justify-content-center wizard-container col-2" *ngIf="wizardItems?.length && showScrollSpy" id="detail-wizard">
            <p-tieredMenu #menu [model]="wizardItems"></p-tieredMenu>
        </div>
        <div class="flex align-items-center justify-content-center form-container">
            <form class="ev-form " [formGroup]="detailFormControls" #detailForm [ngClass]="{'read-only-fields':enableReadOnly}">
                <div class="row form-body">
                    <div class="form-row vg-col-1">
                        <div class="form-col" [hidden]="hiddenFields.certificateName" id="certificateName">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.certificateName?.isRequired, 'error':inValidFields.certificateName}">
        <label for="certificateName" class="col-form-label certificateName-label" [textContent]=" 'CERTIFICATE_NAME'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.certificateName?.infoBubble"   [pTooltip]="formFieldConfig?.certificateName?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="certificateName" [placeholder]="formFieldConfig?.certificateName?.placeHolder || ''"
[maxlength]="formFieldConfig?.certificateName?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.certificateName?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.relatedCompany" id="relatedCompany">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.relatedCompany?.isRequired, 'error':inValidFields.relatedCompany}">
        <label for="relatedCompany" class="col-form-label relatedCompany-label" [textContent]="'RELATED_COMPANY'|translate"></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.relatedCompany?.infoBubble"   [pTooltip]="formFieldConfig?.relatedCompany?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="formFieldConfig?.relatedCompany?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="relatedCompany" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemsdetailFormrelatedCompany" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletedetailFormrelatedCompany('relatedCompany')"   (completeMethod)="autoSuggestSearchdetailFormrelatedCompany($event,formFieldConfig?.relatedCompany)"
            [multiple]="formFieldConfig?.relatedCompany?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemsdetailFormrelatedCompany = []; isAutoSuggestCallFireddetailFormrelatedCompany = false;" [field]="(formFieldConfig?.relatedCompany?.displayField)"
             (onSelect)="onSelect($event,'relatedCompany',formFieldConfig?.relatedCompany)" (onUnselect)="unSelect($event,'relatedCompany',formFieldConfig?.relatedCompany?.multiple)" appendTo="body"
(onClear)="unSelect($event,'relatedCompany',formFieldConfig?.relatedCompany?.multiple)">
<ng-template let-item pTemplate="item">
                <div [innerHTML]="formatAutoComplete(item,formFieldConfig?.relatedCompany?.displayField,'relatedCompany')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.relatedCompany?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.relatedCompanyName" id="relatedCompanyName">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.relatedCompanyName?.isRequired, 'error':inValidFields.relatedCompanyName}">
        <label for="relatedCompanyName" class="col-form-label relatedCompanyName-label" [textContent]=" 'RELATED_COMPANY_NAME'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.relatedCompanyName?.infoBubble"   [pTooltip]="formFieldConfig?.relatedCompanyName?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="relatedCompanyName" [placeholder]="formFieldConfig?.relatedCompanyName?.placeHolder || ''"
[maxlength]="formFieldConfig?.relatedCompanyName?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.relatedCompanyName?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.validFrom" id="validFrom">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.validFrom?.isRequired, 'error':inValidFields.validFrom}">
        <label for="validFrom" class="col-form-label validFrom-label" [textContent]="'VALID_FROM'|translate"></label>
      <span class="info-bubble" *ngIf="formFieldConfig?.validFrom?.infoBubble"   [pTooltip]="formFieldConfig?.validFrom?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-calendar appendTo="body" class="form-input" formControlName="validFrom" showIcon="true" inputId="icon" [minDate]="formFieldConfig?.validFrom?.calendarMinDate" [maxDate]="formFieldConfig?.validFrom?.calendarMaxDate" [placeholder]="formFieldConfig?.validFrom?.placeHolder || ''" [dateFormat]="dateFormat" ></p-calendar>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.validFrom?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.validTo" id="validTo">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.validTo?.isRequired, 'error':inValidFields.validTo}">
        <label for="validTo" class="col-form-label validTo-label" [textContent]="'VALID_TO'|translate"></label>
      <span class="info-bubble" *ngIf="formFieldConfig?.validTo?.infoBubble"   [pTooltip]="formFieldConfig?.validTo?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-calendar appendTo="body" class="form-input" formControlName="validTo" showIcon="true" inputId="icon" [minDate]="formFieldConfig?.validTo?.calendarMinDate" [maxDate]="formFieldConfig?.validTo?.calendarMaxDate" [placeholder]="formFieldConfig?.validTo?.placeHolder || ''" [dateFormat]="dateFormat" ></p-calendar>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.validTo?.helpText || ''}}</div>
    </div>
</div>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>
</div>
