@import "~base/app/slaughter-report/slaughter-report/slaughter-report-detail/_slaughter-report-detail.base.scss";

:host ::ng-deep {
    .p-inputtext {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
    }

    .highlight {
        .p-inputtext {
            box-shadow: 0 0 5px #94c11c;
            border: 1px solid #94c11c;
            background-color: rgba(238, 238, 34, 0.2);
        }
    }

    #reportId {
        p-inputnumber .p-inputnumber-input {
            text-align: left;
        }
    }
}