<div class="detail companies-detail">
 <div class="wrokflow-simulate" *ngIf="showWorkflowSimulator">
        <span class="arrow_box">Workflow Simulator</span>
        <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded wrokflow-simulate-btn"  [fitContent]="false"  (click)="openWorkflowSimilator()"></button>
    </div>
   <div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar" *ngIf="(isMobile && !isSearchFocused) || !isMobile">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
        <div class="w-100"  *ngIf="showBreadcrumb"> <app-breadcrumb></app-breadcrumb></div>
        <app-action-bar [buttons] = "leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'" [style.width]="'25%'" [style.overflow]="'hidden'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><app-workflow-action-bar [buttons] = "workflowActionBarConfig.children"
(onBtnClick)='workflowActionBarAction($event)'
[workflow]="workflowActions"
[style.order]="isMobile?'1':'0'" [style.overflow]="'hidden'">
</app-workflow-action-bar>
    </div>
</div><ul class="nav  caption-bar" *ngIf="detailCaptionBarConfig?.children?.length > 0 && data.sid" [ngStyle]="{width: detailCaptionBarConfig.width, 'justify-content':detailCaptionBarConfig.align}" id="caption-bar">
        <li class="nav-item" *ngFor="let captionItem of detailCaptionBarConfig.children" [style.display]="((captionItem.showOn =='mobile_only' && isMobile) || (captionItem.showOn =='desktop_only' && !isMobile) || (captionItem.showOn =='both')||(!captionItem.showOn))?'block':'none'">
            <div class="card" *ngIf="data && formatCaptionItems(captionItem,data)">
                <div class="card-body">
                   <h5 class="card-title" >{{captionItem.label | translate}}</h5>
                          <div *ngIf="!captionItem.render" class="card-sub-title" [innerHTML]="data && formatCaptionItems(captionItem,data)">
                         </div>
                    <div *ngIf="captionItem.render" class="card-sub-title">
                        <div [innerHtml]="captionItem.render(captionItem)"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul><div class="ev-detail-view" id="detail-view-container">
    <div class="detail-flex-box">
        <div class="flex align-items-center justify-content-center wizard-container col-2" *ngIf="wizardItems?.length && showScrollSpy" id="detail-wizard">
            <p-tieredMenu #menu [model]="wizardItems"></p-tieredMenu>
        </div>
        <div class="flex align-items-center justify-content-center form-container">
            <form class="ev-form " [formGroup]="detailFormControls" #detailForm [ngClass]="{'read-only-fields':enableReadOnly}">
                <div class="row form-body">
                    <div class="form-row vg-col-1">
                        <div class="form-col" [hidden]="hiddenFields.companyCode" id="companyCode">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.companyCode?.isRequired, 'error':inValidFields.companyCode}">
        <label for="companyCode" class="col-form-label companyCode-label" [textContent]=" 'COMPANY_CODE'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.companyCode?.infoBubble"   [pTooltip]="formFieldConfig?.companyCode?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="companyCode" [placeholder]="formFieldConfig?.companyCode?.placeHolder || ''"
[maxlength]="formFieldConfig?.companyCode?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.companyCode?.helpText || ''}}</div>
    </div>
</div><div class="section-col CONTACT_DETAILS_class" id="sectionCONTACT_DETAILS">
    <div class="form-section">
        <h5 class="header" [innerHTML]="'CONTACT_DETAILS'|translate"></h5>
        <div class="form-row  vg-col-$columns_VAR">
            <div class="form-col" [hidden]="hiddenFields.name" id="name">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.name?.isRequired, 'error':inValidFields.name}">
        <label for="name" class="col-form-label name-label" [textContent]=" 'NAME'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.name?.infoBubble"   [pTooltip]="formFieldConfig?.name?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="name" [placeholder]="formFieldConfig?.name?.placeHolder || ''"
[maxlength]="formFieldConfig?.name?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.name?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.address" id="address">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.address?.isRequired, 'error':inValidFields.address}">
        <label for="address" class="col-form-label address-label" [textContent]=" 'ADDRESS'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.address?.infoBubble"   [pTooltip]="formFieldConfig?.address?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="address" [placeholder]="formFieldConfig?.address?.placeHolder || ''"
[maxlength]="formFieldConfig?.address?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.address?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.postalCode" id="postalCode">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.postalCode?.isRequired, 'error':inValidFields.postalCode}">
        <label for="postalCode" class="col-form-label postalCode-label" [textContent]=" 'POSTAL_CODE'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.postalCode?.infoBubble"   [pTooltip]="formFieldConfig?.postalCode?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="postalCode" [placeholder]="formFieldConfig?.postalCode?.placeHolder || ''"
[maxlength]="formFieldConfig?.postalCode?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.postalCode?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.city" id="city">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.city?.isRequired, 'error':inValidFields.city}">
        <label for="city" class="col-form-label city-label" [textContent]=" 'CITY'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.city?.infoBubble"   [pTooltip]="formFieldConfig?.city?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="city" [placeholder]="formFieldConfig?.city?.placeHolder || ''"
[maxlength]="formFieldConfig?.city?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.city?.helpText || ''}}</div>
    </div>
</div>
        </div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.administration" id="administration">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.administration?.isRequired, 'error':inValidFields.administration}">
        <label for="administration" class="col-form-label administration-label" [textContent]="'ADMINISTRATION'|translate"></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.administration?.infoBubble"   [pTooltip]="formFieldConfig?.administration?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="formFieldConfig?.administration?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="administration" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemsdetailFormadministration" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletedetailFormadministration('administration')"   (completeMethod)="autoSuggestSearchdetailFormadministration($event,formFieldConfig?.administration)"
            [multiple]="formFieldConfig?.administration?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemsdetailFormadministration = []; isAutoSuggestCallFireddetailFormadministration = false;" [field]="(formFieldConfig?.administration?.displayField)"
             (onSelect)="onSelect($event,'administration',formFieldConfig?.administration)" (onUnselect)="unSelect($event,'administration',formFieldConfig?.administration?.multiple)" appendTo="body"
(onClear)="unSelect($event,'administration',formFieldConfig?.administration?.multiple)">
<ng-template let-item pTemplate="item">
                <div [innerHTML]="formatAutoComplete(item,formFieldConfig?.administration?.displayField,'administration')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.administration?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.locid" id="locid">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.locid?.isRequired, 'error':inValidFields.locid}">
        <label for="locid" class="col-form-label locid-label" [textContent]=" 'LOCID'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.locid?.infoBubble"   [pTooltip]="formFieldConfig?.locid?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="locid" [placeholder]="formFieldConfig?.locid?.placeHolder || ''"
[maxlength]="formFieldConfig?.locid?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.locid?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.locidValue" id="locidValue">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.locidValue?.isRequired, 'error':inValidFields.locidValue}">
        <label for="locidValue" class="col-form-label locidValue-label" [textContent]=" 'LOCID_VALUE'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.locidValue?.infoBubble"   [pTooltip]="formFieldConfig?.locidValue?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="locidValue" [placeholder]="formFieldConfig?.locidValue?.placeHolder || ''"
[maxlength]="formFieldConfig?.locidValue?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.locidValue?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.relationType" id="relationType">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.relationType?.isRequired, 'error':inValidFields.relationType}">
        <label for="relationType" class="col-form-label relationType-label" [textContent]="'RELATION_TYPE'|translate"></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.relationType?.infoBubble"   [pTooltip]="formFieldConfig?.relationType?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="formFieldConfig?.relationType?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="relationType" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemsdetailFormrelationType" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletedetailFormrelationType('relationType')"   (completeMethod)="autoSuggestSearchdetailFormrelationType($event,formFieldConfig?.relationType)"
            [multiple]="formFieldConfig?.relationType?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemsdetailFormrelationType = []; isAutoSuggestCallFireddetailFormrelationType = false;" [field]="(formFieldConfig?.relationType?.displayField)"
             (onSelect)="onSelect($event,'relationType',formFieldConfig?.relationType)" (onUnselect)="unSelect($event,'relationType',formFieldConfig?.relationType?.multiple)" appendTo="body"
(onClear)="unSelect($event,'relationType',formFieldConfig?.relationType?.multiple)">
<ng-template let-item pTemplate="item">
                <div [innerHTML]="formatAutoComplete(item,formFieldConfig?.relationType?.displayField,'relationType')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.relationType?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.standardPurchaseNotation" id="standardPurchaseNotation">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.standardPurchaseNotation?.isRequired, 'error':inValidFields.standardPurchaseNotation}">
        <label for="standardPurchaseNotation" class="col-form-label standardPurchaseNotation-label" [textContent]="'STANDARD_PURCHASE_NOTATION'|translate"></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.standardPurchaseNotation?.infoBubble"   [pTooltip]="formFieldConfig?.standardPurchaseNotation?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="formFieldConfig?.standardPurchaseNotation?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="standardPurchaseNotation" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemsdetailFormstandardPurchaseNotation" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletedetailFormstandardPurchaseNotation('standardPurchaseNotation')"   (completeMethod)="autoSuggestSearchdetailFormstandardPurchaseNotation($event,formFieldConfig?.standardPurchaseNotation)"
            [multiple]="formFieldConfig?.standardPurchaseNotation?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemsdetailFormstandardPurchaseNotation = []; isAutoSuggestCallFireddetailFormstandardPurchaseNotation = false;" [field]="(formFieldConfig?.standardPurchaseNotation?.displayField)"
             (onSelect)="onSelect($event,'standardPurchaseNotation',formFieldConfig?.standardPurchaseNotation)" (onUnselect)="unSelect($event,'standardPurchaseNotation',formFieldConfig?.standardPurchaseNotation?.multiple)" appendTo="body"
(onClear)="unSelect($event,'standardPurchaseNotation',formFieldConfig?.standardPurchaseNotation?.multiple)">
<ng-template let-item pTemplate="item">
                <div [innerHTML]="formatAutoComplete(item,formFieldConfig?.standardPurchaseNotation?.displayField,'standardPurchaseNotation')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.standardPurchaseNotation?.helpText || ''}}</div>
    </div>
</div>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>
</div>
