
:host ::ng-deep {
    width: 100%;
    .link-wrap{
        border-radius: 0.45rem;
        border: 1px solid #ced4da;


        .p-button-link{
            background-color: transparent;
            font-weight: 600;
            box-shadow: none !important;
            outline: none;
           
            .p-button-label{
                color: #1a73e8;
            }
        }
        .empty-link{
            visibility: hidden;
        }
        .link-edit{
            background-color: transparent;
            border: 0;
        }
        .p-button:enabled:hover{
            color:#1a73e8;
        }
        
        .p-button.p-button-icon-only.p-button-rounded{
            width: 3rem;
        }
    }
    
    .link-edit-wrap{
        display: flex;
       
    }
    .col-form-label{width: 100%;}

    .disabled{
        border: 0.13rem solid #e9ecef;
        border-radius: 0.8rem;
        margin-top: -1px;
        margin-left: 0px;
        background-color: #e9ecef;
    }
}