<div class="list slaughter-report-list">
 <div class="wrokflow-simulate" *ngIf="showWorkflowSimulator">
        <span class="arrow_box">Workflow Simulator</span>
        <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded wrokflow-simulate-btn"  [fitContent]="false"  (click)="openWorkflowSimilator()"></button>
    </div>
   <div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar" *ngIf="(isMobile && !isSearchFocused) || !isMobile">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
        <div class="w-100"  *ngIf="showBreadcrumb"> <app-breadcrumb></app-breadcrumb></div>
        <app-action-bar [buttons] = "leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'" [style.width]="'25%'" [style.overflow]="'hidden'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><app-action-bar [buttons] = "rightActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'" [style.width]="'25%'" [style.overflow]="'hidden'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><div class="p-0" id="search-container" [ngStyle]="{'width':isMobile && isSearchFocused? '100%':'50%' }">
<div *ngIf="!isMobile" class="col global-search p-3">
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text show-advanced">
<span class="pi pi-search icon-font"></span>
</span>
</div>
<input type="text" class="form-control" pInputText [placeholder]="'Search' | translate"
(keydown)="onKeydown($event)" [(ngModel)]="filter.globalSearch" />
<div class="input-group-append ">
<span class="input-group-text show-advanced cursor-pointer">
    <span (click)="toggleAdvancedSearch()" class="advancedsearch-icon" #toggleButton
        *ngIf="tableSearchConfig.showAdvancedSearch">
        <span class="icon-filter">
             <svg class="filter-icon">
                <use xlink:href="../../../../assets/images/filter.svg#filter-button"></use>
              </svg>
        </span>
    </span>
</span>
</div>
</div>
</div>

<div class="d-flex" *ngIf="isMobile">
<div *ngIf="isMobile" class="search-mobile-container col global-search">
<button class="pi pi-search icon-font search-btn1" (click)="focus()"></button>
<!-- <span>{{isSearchFocused}}</span> -->
<input placeholder='Search' id="mobile-search-icon" class='js-search open' type="text" (keydown)="onKeydown($event)"
[(ngModel)]="filter.globalSearch" [ngClass]="{'open':isSearchFocused}">
<!-- <span [ngClass]="{'search-close':!isSearchFocused}" class="pi pi-times icon-font " style="right:50px" (click)="clearFilters()"></span> -->
</div>
<div class="input-group-append" *ngIf="!isSearchFocused && tableSearchConfig.showAdvancedSearch">
<span class="input-group-text pi pi-sliders-h icon-font px-3 py-3 cursor-pointer"
(click)="toggleAdvancedSearch()" #toggleButton></span>
</div>
<div class="input-group-append" *ngIf="isSearchFocused">
<span class="input-group-text pi pi-times icon-font px-3 py-3 cursor-pointer"
(click)="clearFilters()" ></span>
</div>
</div>

<div class="advanced-search ev-detail-view" *ngIf="(tableSearchConfig.showAdvancedSearch && showAdvancedSearch)" #menu>
<span class="pr-3 pt-0 adv-search-header" [innerHTML]="'Advanced Search'| translate"></span>
<span style="float:right" class="cursor-pointer"><i class="pi pi-times" (click)="toggleAdvancedSearch()"></i></span>
<form [formGroup]="tableSearchControls" (ngSubmit)="advancedSearch()" class="ev-form">
<div class="row form-body">
<div class="form-row vg-col-2">
    <div class="form-col" [hidden]="hiddenFields.reportId" id="reportId" formGroupName="reportId">
        <div class="field-row" [ngClass]="{'required': tableSearchFieldConfig?.reportId?.isRequired}">
            <label for="tableSearchFieldConfig" class=" col-form-label reportId-label" [textContent]="'REPORT_ID'|translate"></label>
                        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.reportId?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.reportId?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
                        <div class="d-flex range w-100">
                <div class="p-inputgroup mr-2">
                   <span class="p-inputgroup-addon px-3">{{'FROM' | translate}}</span>
                    <p-inputNumber class="form-input" formControlName="min"
                                                     [placeholder]="tableSearchFieldConfig?.reportId?.placeHolder || ''" [showButtons]="tableSearchFieldConfig?.reportId?.showButtons" [suffix]="tableSearchFieldConfig?.reportId?.suffix" [min]="tableSearchFieldConfig?.reportId?.minVal" [max]="tableSearchFieldConfig?.reportId?.maxVal"></p-inputNumber>
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon px-3">{{'TO' | translate}}</span>
                        <p-inputNumber class="form-input" formControlName="max"
                                                     [placeholder]="tableSearchFieldConfig?.reportId?.placeHolder || ''" [showButtons]="tableSearchFieldConfig?.reportId?.showButtons" [suffix]="tableSearchFieldConfig?.reportId?.suffix" [min]="tableSearchFieldConfig?.reportId?.minVal" [max]="tableSearchFieldConfig?.reportId?.maxVal"></p-inputNumber>
                </div>
            </div>
                        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.reportId?.helpText || ''}}</div>
        </div>
    </div>    <div class="form-col" [hidden]="hiddenFields.sequenceNr" id="sequenceNr" formGroupName="sequenceNr">
        <div class="field-row" [ngClass]="{'required': tableSearchFieldConfig?.sequenceNr?.isRequired}">
            <label for="tableSearchFieldConfig" class=" col-form-label sequenceNr-label" [textContent]="'SEQUENCE_NR'|translate"></label>
                        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.sequenceNr?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.sequenceNr?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
                        <div class="d-flex range w-100">
                <div class="p-inputgroup mr-2">
                   <span class="p-inputgroup-addon px-3">{{'FROM' | translate}}</span>
                    <p-inputNumber class="form-input" formControlName="min"
                                                     [placeholder]="tableSearchFieldConfig?.sequenceNr?.placeHolder || ''" [showButtons]="tableSearchFieldConfig?.sequenceNr?.showButtons" [suffix]="tableSearchFieldConfig?.sequenceNr?.suffix" [min]="tableSearchFieldConfig?.sequenceNr?.minVal" [max]="tableSearchFieldConfig?.sequenceNr?.maxVal"></p-inputNumber>
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon px-3">{{'TO' | translate}}</span>
                        <p-inputNumber class="form-input" formControlName="max"
                                                     [placeholder]="tableSearchFieldConfig?.sequenceNr?.placeHolder || ''" [showButtons]="tableSearchFieldConfig?.sequenceNr?.showButtons" [suffix]="tableSearchFieldConfig?.sequenceNr?.suffix" [min]="tableSearchFieldConfig?.sequenceNr?.minVal" [max]="tableSearchFieldConfig?.sequenceNr?.maxVal"></p-inputNumber>
                </div>
            </div>
                        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.sequenceNr?.helpText || ''}}</div>
        </div>
    </div><div class="form-col" [hidden]="hiddenFields.status" id="status">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.status?.isRequired, 'error':inValidFields.status}">
        <label for="status" class="col-form-label status-label" [textContent]="'STATUS'|translate"></label>  
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.status?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.status?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>                      
        <p-dropdown [options]="tableSearchFieldConfig.status?.options" formControlName="status"  [showClear]="!tableSearchControls.controls.status.value?false:true" optionLabel="value" optionValue="label" [placeholder]="tableSearchFieldConfig?.status?.placeHolder || 'Select'"  styleClass = "dropdown" appendTo="body" [ngClass]="{'dropdown-disabled': tableSearchControls.controls.status.disabled}">
            <ng-template pTemplate="selectedItem">
                <ng-template #statusSelectedRef let-conditions="conditions" let-option="option">
                    <div class="selected-item" [ngStyle]="conditions?.cellStyle">
                        <img [src]="conditions?.image" class="img" *ngIf="conditions?.image"/>
                        <span  
                            *ngIf="conditions?.iconClass" class="icon"
                            [ngStyle]="conditions?.iconStyle"
                        >
                            <i [ngClass]="conditions?.iconClass"></i>
                
                        </span>
                        <div class="value" *ngIf="!conditions || (conditions && conditions?.showText)">{{option.label| translate}}</div>
                    </div>
                </ng-template>
                <ng-container *ngIf="getValue(tableSearchControls,'status'); let selected;">
                    <ng-template *ngTemplateOutlet="statusSelectedRef;context:{conditions :tableSearchFieldConfig.status?.optionConditions?.[(getSelectedObject(selected,tableSearchFieldConfig.status?.options)).value], option:(getSelectedObject(selected,tableSearchFieldConfig.status?.options))}"></ng-template>
                </ng-container>
            </ng-template>
        
            <ng-template let-dropdownItem pTemplate="item" >
                <ng-template #statusListRef let-conditions="conditions" let-option="option">
                    <div class="select-list-item" [ngStyle]="conditions?.cellStyle">                    
                        <img [src]="conditions?.image" class="list-image" *ngIf="conditions?.image" />
                        <span
                            *ngIf="conditions?.iconClass"
                            [ngStyle]="conditions?.iconStyle"
                        >
                            <i [ngClass]="conditions?.iconClass" ></i>
        
                        </span>
                        <div *ngIf="!conditions || (conditions && conditions?.showText)">{{option.label| translate}}</div>
                    </div>
                </ng-template>
        
                <ng-container>
                    <ng-template *ngTemplateOutlet="statusListRef;context:{conditions :tableSearchFieldConfig.status?.optionConditions?.[dropdownItem.value], option:dropdownItem}"></ng-template>
                </ng-container>
            </ng-template>
        </p-dropdown>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.status?.helpText || ''}}</div>
    </div>
</div>        <div class="form-col" [hidden]="hiddenFields.slaughterDate" id="slaughterDate">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.slaughterDate?.isRequired, 'error':inValidFields.slaughterDate}">
        <label for="slaughterDate" class="col-form-label dateTime-label slaughterDate-label" [textContent]="'SLAUGHTER_DATE'|translate"></label>
<span class="info-bubble" *ngIf="tableSearchFieldConfig?.slaughterDate?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.slaughterDate?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-calendar 
appendTo="body"
showButtonBar="true"
            class="form-input w-100" 
            formControlName="slaughterDate"
                         selectionMode="range" 
            [showIcon]="true" 
            inputId="datePicker"
            [minDate]="tableSearchFieldConfig?.slaughterDate?.calendarMinDate" 
            [maxDate]="tableSearchFieldConfig?.slaughterDate?.calendarMaxDate"
            [placeholder]="tableSearchFieldConfig?.slaughterDate?.placeHolder || ''"
            [dateFormat]="dateFormat"
        ></p-calendar>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.slaughterDate?.helpText || ''}}</div>
    </div>
</div>    <div class="form-col" [hidden]="hiddenFields.slaughterBatchId" id="slaughterBatchId" formGroupName="slaughterBatchId">
        <div class="field-row" [ngClass]="{'required': tableSearchFieldConfig?.slaughterBatchId?.isRequired}">
            <label for="tableSearchFieldConfig" class=" col-form-label slaughterBatchId-label" [textContent]="'SLAUGHTER_BATCH_ID'|translate"></label>
                        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.slaughterBatchId?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.slaughterBatchId?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
                        <div class="d-flex range w-100">
                <div class="p-inputgroup mr-2">
                   <span class="p-inputgroup-addon px-3">{{'FROM' | translate}}</span>
                    <p-inputNumber class="form-input" formControlName="min"
                                                     [placeholder]="tableSearchFieldConfig?.slaughterBatchId?.placeHolder || ''" [showButtons]="tableSearchFieldConfig?.slaughterBatchId?.showButtons" [suffix]="tableSearchFieldConfig?.slaughterBatchId?.suffix" [min]="tableSearchFieldConfig?.slaughterBatchId?.minVal" [max]="tableSearchFieldConfig?.slaughterBatchId?.maxVal"></p-inputNumber>
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon px-3">{{'TO' | translate}}</span>
                        <p-inputNumber class="form-input" formControlName="max"
                                                     [placeholder]="tableSearchFieldConfig?.slaughterBatchId?.placeHolder || ''" [showButtons]="tableSearchFieldConfig?.slaughterBatchId?.showButtons" [suffix]="tableSearchFieldConfig?.slaughterBatchId?.suffix" [min]="tableSearchFieldConfig?.slaughterBatchId?.minVal" [max]="tableSearchFieldConfig?.slaughterBatchId?.maxVal"></p-inputNumber>
                </div>
            </div>
                        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.slaughterBatchId?.helpText || ''}}</div>
        </div>
    </div><div class="form-col" [hidden]="hiddenFields.farmer" id="farmer">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.farmer?.isRequired, 'error':inValidFields.farmer}">
        <label for="farmer" class="col-form-label farmer-label" [textContent]="'FARMER'|translate"></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.farmer?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.farmer?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="tableSearchFieldConfig?.farmer?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="farmer" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemstableSearchfarmer" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletetableSearchfarmer('farmer')"   (completeMethod)="autoSuggestSearchtableSearchfarmer($event,tableSearchFieldConfig?.farmer)"
            [multiple]="tableSearchFieldConfig?.farmer?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemstableSearchfarmer = []; isAutoSuggestCallFiredtableSearchfarmer = false;" [field]="(tableSearchFieldConfig?.farmer?.displayField)"
             (onSelect)="onSelect($event,'farmer',tableSearchFieldConfig?.farmer)" (onUnselect)="unSelect($event,'farmer',tableSearchFieldConfig?.farmer?.multiple)" appendTo="body"
(onClear)="unSelect($event,'farmer',tableSearchFieldConfig?.farmer?.multiple)">
<ng-template let-item pTemplate="item">
                <div [innerHTML]="formatAutoComplete(item,tableSearchFieldConfig?.farmer?.displayField,'farmer')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.farmer?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.farmerName" id="farmerName">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.farmerName?.isRequired, 'error':inValidFields.farmerName}">
        <label for="farmerName" class="col-form-label farmerName-label" [textContent]=" 'FARMER_NAME'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.farmerName?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.farmerName?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="farmerName" [placeholder]="tableSearchFieldConfig?.farmerName?.placeHolder || ''"
[maxlength]="tableSearchFieldConfig?.farmerName?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.farmerName?.helpText || ''}}</div>
    </div>
</div>        <div class="form-col" [hidden]="hiddenFields.invoiceDate" id="invoiceDate">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.invoiceDate?.isRequired, 'error':inValidFields.invoiceDate}">
        <label for="invoiceDate" class="col-form-label dateTime-label invoiceDate-label" [textContent]="'INVOICE_DATE'|translate"></label>
<span class="info-bubble" *ngIf="tableSearchFieldConfig?.invoiceDate?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.invoiceDate?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-calendar 
appendTo="body"
showButtonBar="true"
            class="form-input w-100" 
            formControlName="invoiceDate"
                         selectionMode="range" 
            [showIcon]="true" 
            inputId="datePicker"
            [minDate]="tableSearchFieldConfig?.invoiceDate?.calendarMinDate" 
            [maxDate]="tableSearchFieldConfig?.invoiceDate?.calendarMaxDate"
            [placeholder]="tableSearchFieldConfig?.invoiceDate?.placeHolder || ''"
            [dateFormat]="dateFormat"
        ></p-calendar>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.invoiceDate?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.fromCountry" id="fromCountry">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.fromCountry?.isRequired, 'error':inValidFields.fromCountry}">
        <label for="fromCountry" class="col-form-label fromCountry-label" [textContent]="'FROM_COUNTRY'|translate"></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.fromCountry?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.fromCountry?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="tableSearchFieldConfig?.fromCountry?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="fromCountry" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemstableSearchfromCountry" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletetableSearchfromCountry('fromCountry')"   (completeMethod)="autoSuggestSearchtableSearchfromCountry($event,tableSearchFieldConfig?.fromCountry)"
            [multiple]="tableSearchFieldConfig?.fromCountry?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemstableSearchfromCountry = []; isAutoSuggestCallFiredtableSearchfromCountry = false;" [field]="(tableSearchFieldConfig?.fromCountry?.displayField)"
             (onSelect)="onSelect($event,'fromCountry',tableSearchFieldConfig?.fromCountry)" (onUnselect)="unSelect($event,'fromCountry',tableSearchFieldConfig?.fromCountry?.multiple)" appendTo="body"
(onClear)="unSelect($event,'fromCountry',tableSearchFieldConfig?.fromCountry?.multiple)">
<ng-template let-item pTemplate="item">
                <div [innerHTML]="formatAutoComplete(item,tableSearchFieldConfig?.fromCountry?.displayField,'fromCountry')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.fromCountry?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.toCountry" id="toCountry">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.toCountry?.isRequired, 'error':inValidFields.toCountry}">
        <label for="toCountry" class="col-form-label toCountry-label" [textContent]="'TO_COUNTRY'|translate"></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.toCountry?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.toCountry?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="tableSearchFieldConfig?.toCountry?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="toCountry" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemstableSearchtoCountry" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletetableSearchtoCountry('toCountry')"   (completeMethod)="autoSuggestSearchtableSearchtoCountry($event,tableSearchFieldConfig?.toCountry)"
            [multiple]="tableSearchFieldConfig?.toCountry?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemstableSearchtoCountry = []; isAutoSuggestCallFiredtableSearchtoCountry = false;" [field]="(tableSearchFieldConfig?.toCountry?.displayField)"
             (onSelect)="onSelect($event,'toCountry',tableSearchFieldConfig?.toCountry)" (onUnselect)="unSelect($event,'toCountry',tableSearchFieldConfig?.toCountry?.multiple)" appendTo="body"
(onClear)="unSelect($event,'toCountry',tableSearchFieldConfig?.toCountry?.multiple)">
<ng-template let-item pTemplate="item">
                <div [innerHTML]="formatAutoComplete(item,tableSearchFieldConfig?.toCountry?.displayField,'toCountry')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.toCountry?.helpText || ''}}</div>
    </div>
</div>
</div>
</div>
<div class="search-actions">
<div>
<button type="button" class="btn btn-secondary search-btn" (click)="clearFilterValues()">Clear
Filter</button>
</div>
<div >
<div class="btn-group mr-0" role="group">
<button type="button" class="btn btn-secondary search-btn"
(click)="toggleAdvancedSearch()">Cancel</button>
<button type="submit" class="btn btn-primary search-btn search-btn-primary">Search</button>
</div>
</div>
</div>

</form>
</div>
</div>
    </div>
</div><div class="row" id="filter-container" *ngIf="quickFilterConfig?.children?.length > 0">
    <div class="quick-filters ev-detail-view">
        <form [formGroup]="quickFilterControls">
             <div class="row align-filter" [ngClass]="quickFilterConfig.style ==='style_2'? 'rowfiltercolumnfilter':'columnfilter'">
                
            </div>
        </form>
    </div>
</div>    <div class=" paginator paginator-top p-mb-3" *ngIf="showPaginationOnTop">
    <ng-container *ngTemplateOutlet="paginator">
    </ng-container>
</div>
       <div id="table-container" class="viewAs-{{tableConfig.viewAs}}" [ngClass]="getClass()">
              <p-table [value]="gridData" dataKey="sid" [scrollable]="true" [columns]="selectedColumns" scrollHeight="flex"
           [paginator]="false" [rows]="params.length" [showCurrentPageReport]="true"  [(first)]="first" [lazy]="true" 
           rowHover="true" responsive="true" responsiveLayout="scroll"
          [customSort]="true" 
           [sortMode]="'single'"
           [sortField]="'slaughterDate'"
           [sortOrder]="-1"
          [selectionMode]="'multiple'"
           [(selection)]="selectedValues" 
           (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowSelect($event)"
         
           styleClass="table-container-style_2 striped
           gridLines"
>
           <ng-template pTemplate="header" let-columns>
               <tr>
                   <th scope="col"  [style.maxWidth]="'4rem'" >
                       <p-tableHeaderCheckbox (click)="onRowSelect($event)"></p-tableHeaderCheckbox>
                   </th>
 
 				 		<th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="reportId"
        (click)="sort($event,'reportId')"
     *ngIf="columns[0]">
    <span [innerHTML]="columns[0].label| translate" class=""></span>
        <p-sortIcon [field]="'reportId'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="sequenceNr"
        (click)="sort($event,'sequenceNr')"
     *ngIf="columns[1]">
    <span [innerHTML]="columns[1].label| translate" class=""></span>
        <p-sortIcon [field]="'sequenceNr'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="status"
        (click)="sort($event,'status')"
     *ngIf="columns[2]">
    <span [innerHTML]="columns[2].label| translate" class=""></span>
        <p-sortIcon [field]="'status'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="slaughterDate"
        (click)="sort($event,'slaughterDate')"
     *ngIf="columns[3]">
    <span [innerHTML]="columns[3].label| translate" class=""></span>
        <p-sortIcon [field]="'slaughterDate'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="slaughterBatchId"
        (click)="sort($event,'slaughterBatchId')"
     *ngIf="columns[4]">
    <span [innerHTML]="columns[4].label| translate" class=""></span>
        <p-sortIcon [field]="'slaughterBatchId'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="farmer"
        (click)="sort($event,'farmer')"
     *ngIf="columns[5]">
    <span [innerHTML]="columns[5].label| translate" class=""></span>
        <p-sortIcon [field]="'farmer'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="farmerName"
        (click)="sort($event,'farmerName')"
     *ngIf="columns[6]">
    <span [innerHTML]="columns[6].label| translate" class=""></span>
        <p-sortIcon [field]="'farmerName'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="invoiceDate"
        (click)="sort($event,'invoiceDate')"
     *ngIf="columns[7]">
    <span [innerHTML]="columns[7].label| translate" class=""></span>
        <p-sortIcon [field]="'invoiceDate'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="fromCountry"
        (click)="sort($event,'fromCountry')"
     *ngIf="columns[8]">
    <span [innerHTML]="columns[8].label| translate" class=""></span>
        <p-sortIcon [field]="'fromCountry'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="toCountry"
        (click)="sort($event,'toCountry')"
     *ngIf="columns[9]">
    <span [innerHTML]="columns[9].label| translate" class=""></span>
        <p-sortIcon [field]="'toCountry'"></p-sortIcon>
</th>			  
   
               </tr>
           </ng-template>
   
           <!-- rowGroup - subHeader -->
   
           <ng-template pTemplate="body" let-data 
               let-columns="columns" let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan" let-rowData ="rowData">
               <tr  (click)="onUpdate(data['sid'],$event)"
                   class="small  border-box ">
                   <!-- selection -Multiple -->
                   <td [style.maxWidth]="'4rem'"
                       
                        class="record-selection">
                       <p-tableCheckbox [value]="data"></p-tableCheckbox>
                   </td>
   
 				 		<td   class="reportId  overflow-hidden" tooltipActive  *ngIf="columns[0]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>
        <span [innerHTML]="data[columns[0].fieldName]" class="ellipsis white-space-nowrap"></span>

    </td><td   class="sequenceNr  overflow-hidden" tooltipActive  *ngIf="columns[1]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>
        <span [innerHTML]="data[columns[1].fieldName]" class="ellipsis white-space-nowrap"></span>

    </td>    <td  class="status  overflow-hidden " tooltipActive
       *ngIf="columns[2]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
 >
<span [innerHTML]="data[columns[2].fieldName] | translate" class="ellipsis white-space-nowrap mr-1"></span>
    
    </td><td class="slaughterDate  overflow-hidden" tooltipActive *ngIf="columns[3]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>
        <span [innerHTML]="data[columns[3].fieldName]" class="ellipsis white-space-nowrap"></span>

    </td><td   class="slaughterBatchId  overflow-hidden" tooltipActive  *ngIf="columns[4]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>
        <span [innerHTML]="data[columns[4].fieldName]" class="ellipsis white-space-nowrap"></span>

    </td><td    class="farmer  overflow-hidden" tooltipActive *ngIf="columns[5]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>
        <span [innerHTML]="data[columns[5].fieldName]" class="ellipsis white-space-nowrap"></span>

    </td><td  class="farmerName  overflow-hidden" tooltipActive *ngIf="columns[6]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>

        <span [innerHTML]="data[columns[6].fieldName]" class="ellipsis white-space-nowrap"></span>

</td><td class="invoiceDate  overflow-hidden" tooltipActive *ngIf="columns[7]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>
        <span [innerHTML]="data[columns[7].fieldName]" class="ellipsis white-space-nowrap"></span>

    </td><td    class="fromCountry  overflow-hidden" tooltipActive *ngIf="columns[8]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>
        <span [innerHTML]="data[columns[8].fieldName]" class="ellipsis white-space-nowrap"></span>

    </td><td    class="toCountry  overflow-hidden" tooltipActive *ngIf="columns[9]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>
        <span [innerHTML]="data[columns[9].fieldName]" class="ellipsis white-space-nowrap"></span>

    </td>			  
               </tr>
           </ng-template>
   
           <ng-template pTemplate="emptymessage">
                <tr class="no-records" *ngIf="!isPageLoading">
                       <td colspan="5"
                           [innerHTML]="'No records found'">
                       </td>
                   </tr>
           </ng-template>
       </p-table>
       
         <div class=" paginator paginator-bottom p-mb-3" *ngIf="showPaginationOnBottom" id="paginator-bottom">
            <ng-container *ngTemplateOutlet="paginator">
            </ng-container>
        </div>
    </div>
    
   <ng-template #paginator>
        <div class="paginator-label" [ngClass]="{'pagination-record-label':gridData.length < params.length}" > Showing
            {{gridData.length > 0 ? first + 1: first}} to {{first + gridData.length}} </div>
        <span *ngIf="updatedRecords.length >= params.length ">
            <p-button type="button" icon="pi pi-angle-double-left" (onClick)="onRefresh()"
                [disabled]=" this.first === 0" styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-angle-left" (onClick)="prev()" [disabled]="this.first === 0"
                styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-refresh" (onClick)="onRefresh()" styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-angle-right" (onClick)="next()"
                [disabled]="((first + rows) > updatedRecords.length)" styleClass="p-button-text"></p-button>
        </span>
    </ng-template>
</div>
