<div class="row" id="changelog-grid">
    <div class="changelog-listgrid col-md-4">
        <!-- <ng-container *ngIf="gridType === 'changeList'"> -->
            <p-table [value]="logsData " class="viewAs-{{tableConfig.viewAs}}" scrollable="true"responsiveLayout="scroll" scrollHeight="flex" scrollHeight="250"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of changeLogListGrid.columns">
                            {{col.title | translate}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-log let-rowIndex="rowIndex">
                    <tr (click)="getDataById($event, rowIndex)" class="cursor">
                        <td class ="pre-wrap">{{log.modifiedDate | date:'medium'}}</td>
                        <td class ="pre-wrap">{{log.modifiedBy}}</td>
                        <td class ="pre-wrap">{{log.remarks}}</td>
                    </tr>
                </ng-template>
            </p-table>
        <!-- </ng-container> -->
    </div>
    <div class="changelog-comparegrid col-md-8">
        <!-- <ng-container *ngIf="gridType === 'compareList'"> -->
            <p-table [value]="updatedValue" scrollable="true" scrollHeight="250">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of changeLogCompareGrid.columns">
                            {{col.title | translate}}
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-compareData>
                    <tr class="{{compareData.is_differ}}">
                        <td>{{compareData.attribute}}</td>
                        <td [innerHTML]="compareData.old_value"></td>
                        <td [innerHTML]="compareData.new_value"></td>
                    </tr>
                </ng-template>
            </p-table>
        <!-- </ng-container> -->
    </div>
</div>