<div class="detail stables-detail">
 <div class="wrokflow-simulate" *ngIf="showWorkflowSimulator">
        <span class="arrow_box">Workflow Simulator</span>
        <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded wrokflow-simulate-btn"  [fitContent]="false"  (click)="openWorkflowSimilator()"></button>
    </div>
   <div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar" *ngIf="(isMobile && !isSearchFocused) || !isMobile">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
        <div class="w-100"  *ngIf="showBreadcrumb"> <app-breadcrumb></app-breadcrumb></div>
        <app-action-bar [buttons] = "leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'" [style.width]="'25%'" [style.overflow]="'hidden'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><app-workflow-action-bar [buttons] = "workflowActionBarConfig.children"
(onBtnClick)='workflowActionBarAction($event)'
[workflow]="workflowActions"
[style.order]="isMobile?'1':'0'" [style.overflow]="'hidden'">
</app-workflow-action-bar>
    </div>
</div><ul class="nav  caption-bar" *ngIf="detailCaptionBarConfig?.children?.length > 0 && data.sid" [ngStyle]="{width: detailCaptionBarConfig.width, 'justify-content':detailCaptionBarConfig.align}" id="caption-bar">
        <li class="nav-item" *ngFor="let captionItem of detailCaptionBarConfig.children" [style.display]="((captionItem.showOn =='mobile_only' && isMobile) || (captionItem.showOn =='desktop_only' && !isMobile) || (captionItem.showOn =='both')||(!captionItem.showOn))?'block':'none'">
            <div class="card" *ngIf="data && formatCaptionItems(captionItem,data)">
                <div class="card-body">
                   <h5 class="card-title" >{{captionItem.label | translate}}</h5>
                          <div *ngIf="!captionItem.render" class="card-sub-title" [innerHTML]="data && formatCaptionItems(captionItem,data)">
                         </div>
                    <div *ngIf="captionItem.render" class="card-sub-title">
                        <div [innerHtml]="captionItem.render(captionItem)"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul><div class="ev-detail-view" id="detail-view-container">
    <div class="detail-flex-box">
        <div class="flex align-items-center justify-content-center wizard-container col-2" *ngIf="wizardItems?.length && showScrollSpy" id="detail-wizard">
            <p-tieredMenu #menu [model]="wizardItems"></p-tieredMenu>
        </div>
        <div class="flex align-items-center justify-content-center form-container">
            <form class="ev-form " [formGroup]="detailFormControls" #detailForm [ngClass]="{'read-only-fields':enableReadOnly}">
                <div class="row form-body">
                    <div class="form-row vg-col-1">
                        <div class="form-col" [hidden]="hiddenFields.stableId" id="stableId">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.stableId?.isRequired, 'error':inValidFields.stableId}">
        <label for="stableId" class="col-form-label stableId-label" [textContent]=" 'STABLE_ID'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.stableId?.infoBubble"   [pTooltip]="formFieldConfig?.stableId?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="stableId" [placeholder]="formFieldConfig?.stableId?.placeHolder || ''"
[maxlength]="formFieldConfig?.stableId?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.stableId?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.relatedCompanyId" id="relatedCompanyId">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.relatedCompanyId?.isRequired, 'error':inValidFields.relatedCompanyId}">
        <label for="relatedCompanyId" class="col-form-label relatedCompanyId-label" [textContent]="'RELATED_COMPANY_ID'|translate"></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.relatedCompanyId?.infoBubble"   [pTooltip]="formFieldConfig?.relatedCompanyId?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="formFieldConfig?.relatedCompanyId?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="relatedCompanyId" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemsdetailFormrelatedCompanyId" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletedetailFormrelatedCompanyId('relatedCompanyId')"   (completeMethod)="autoSuggestSearchdetailFormrelatedCompanyId($event,formFieldConfig?.relatedCompanyId)"
            [multiple]="formFieldConfig?.relatedCompanyId?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemsdetailFormrelatedCompanyId = []; isAutoSuggestCallFireddetailFormrelatedCompanyId = false;" [field]="(formFieldConfig?.relatedCompanyId?.displayField)"
             (onSelect)="onSelect($event,'relatedCompanyId',formFieldConfig?.relatedCompanyId)" (onUnselect)="unSelect($event,'relatedCompanyId',formFieldConfig?.relatedCompanyId?.multiple)" appendTo="body"
(onClear)="unSelect($event,'relatedCompanyId',formFieldConfig?.relatedCompanyId?.multiple)">
<ng-template let-item pTemplate="item">
                <div [innerHTML]="formatAutoComplete(item,formFieldConfig?.relatedCompanyId?.displayField,'relatedCompanyId')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.relatedCompanyId?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.relatedCompanyName" id="relatedCompanyName">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.relatedCompanyName?.isRequired, 'error':inValidFields.relatedCompanyName}">
        <label for="relatedCompanyName" class="col-form-label relatedCompanyName-label" [textContent]=" 'RELATED_COMPANY_NAME'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.relatedCompanyName?.infoBubble"   [pTooltip]="formFieldConfig?.relatedCompanyName?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="relatedCompanyName" [placeholder]="formFieldConfig?.relatedCompanyName?.placeHolder || ''"
[maxlength]="formFieldConfig?.relatedCompanyName?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.relatedCompanyName?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.stableM2" id="stableM2">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.stableM2?.isRequired, 'error':inValidFields.stableM2}">
        <label for="stableM2" class="col-form-label stableM2-label" [textContent]="'STABLE_M2'|translate"></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.stableM2?.infoBubble"   [pTooltip]="formFieldConfig?.stableM2?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-inputNumber class="form-input" formControlName="stableM2" [placeholder]="formFieldConfig?.stableM2?.placeHolder || ''" [showButtons]="formFieldConfig?.stableM2?.showButtons" [suffix]="formFieldConfig?.stableM2?.suffix" [min]="formFieldConfig?.stableM2?.minVal" [max]="formFieldConfig?.stableM2?.maxVal" [useGrouping]="formFieldConfig?.stableM2?.useGrouping"></p-inputNumber>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.stableM2?.helpText || ''}}</div>
    </div>
</div>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>
</div>
