<div class="detail breed-detail">
 <div class="wrokflow-simulate" *ngIf="showWorkflowSimulator">
        <span class="arrow_box">Workflow Simulator</span>
        <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded wrokflow-simulate-btn"  [fitContent]="false"  (click)="openWorkflowSimilator()"></button>
    </div>
   <div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar" *ngIf="(isMobile && !isSearchFocused) || !isMobile">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
        <div class="w-100"  *ngIf="showBreadcrumb"> <app-breadcrumb></app-breadcrumb></div>
        <app-action-bar [buttons] = "leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'" [style.width]="'25%'" [style.overflow]="'hidden'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><app-workflow-action-bar [buttons] = "workflowActionBarConfig.children"
(onBtnClick)='workflowActionBarAction($event)'
[workflow]="workflowActions"
[style.order]="isMobile?'1':'0'" [style.overflow]="'hidden'">
</app-workflow-action-bar>
    </div>
</div><ul class="nav  caption-bar" *ngIf="detailCaptionBarConfig?.children?.length > 0 && data.sid" [ngStyle]="{width: detailCaptionBarConfig.width, 'justify-content':detailCaptionBarConfig.align}" id="caption-bar">
        <li class="nav-item" *ngFor="let captionItem of detailCaptionBarConfig.children" [style.display]="((captionItem.showOn =='mobile_only' && isMobile) || (captionItem.showOn =='desktop_only' && !isMobile) || (captionItem.showOn =='both')||(!captionItem.showOn))?'block':'none'">
            <div class="card" *ngIf="data && formatCaptionItems(captionItem,data)">
                <div class="card-body">
                   <h5 class="card-title" >{{captionItem.label | translate}}</h5>
                          <div *ngIf="!captionItem.render" class="card-sub-title" [innerHTML]="data && formatCaptionItems(captionItem,data)">
                         </div>
                    <div *ngIf="captionItem.render" class="card-sub-title">
                        <div [innerHtml]="captionItem.render(captionItem)"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul><div class="ev-detail-view" id="detail-view-container">
    <div class="detail-flex-box">
        <div class="flex align-items-center justify-content-center wizard-container col-2" *ngIf="wizardItems?.length && showScrollSpy" id="detail-wizard">
            <p-tieredMenu #menu [model]="wizardItems"></p-tieredMenu>
        </div>
        <div class="flex align-items-center justify-content-center form-container">
            <form class="ev-form " [formGroup]="detailFormControls" #detailForm [ngClass]="{'read-only-fields':enableReadOnly}">
                <div class="row form-body">
                    <div class="form-row vg-col-1">
                        <div class="form-col" [hidden]="hiddenFields.breedCode" id="breedCode">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.breedCode?.isRequired, 'error':inValidFields.breedCode}">
        <label for="breedCode" class="col-form-label breedCode-label" [textContent]=" 'BREED_CODE'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.breedCode?.infoBubble"   [pTooltip]="formFieldConfig?.breedCode?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="breedCode" [placeholder]="formFieldConfig?.breedCode?.placeHolder || ''"
[maxlength]="formFieldConfig?.breedCode?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.breedCode?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.breedName" id="breedName">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.breedName?.isRequired, 'error':inValidFields.breedName}">
        <label for="breedName" class="col-form-label breedName-label" [textContent]=" 'BREED_NAME'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.breedName?.infoBubble"   [pTooltip]="formFieldConfig?.breedName?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="breedName" [placeholder]="formFieldConfig?.breedName?.placeHolder || ''"
[maxlength]="formFieldConfig?.breedName?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.breedName?.helpText || ''}}</div>
    </div>
</div>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>
</div>
