<div class="list companies-list">
 <div class="wrokflow-simulate" *ngIf="showWorkflowSimulator">
        <span class="arrow_box">Workflow Simulator</span>
        <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded wrokflow-simulate-btn"  [fitContent]="false"  (click)="openWorkflowSimilator()"></button>
    </div>
   <div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar" *ngIf="(isMobile && !isSearchFocused) || !isMobile">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
        <div class="w-100"  *ngIf="showBreadcrumb"> <app-breadcrumb></app-breadcrumb></div>
        <app-action-bar [buttons] = "leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'" [style.width]="'25%'" [style.overflow]="'hidden'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><app-action-bar [buttons] = "rightActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'" [style.width]="'25%'" [style.overflow]="'hidden'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><div class="p-0" id="search-container" [ngStyle]="{'width':isMobile && isSearchFocused? '100%':'50%' }">
<div *ngIf="!isMobile" class="col global-search p-3">
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text show-advanced">
<span class="pi pi-search icon-font"></span>
</span>
</div>
<input type="text" class="form-control" pInputText [placeholder]="'Search' | translate"
(keydown)="onKeydown($event)" [(ngModel)]="filter.globalSearch" />
<div class="input-group-append ">
<span class="input-group-text show-advanced cursor-pointer">
    <span (click)="toggleAdvancedSearch()" class="advancedsearch-icon" #toggleButton
        *ngIf="tableSearchConfig.showAdvancedSearch">
        <span class="icon-filter">
             <svg class="filter-icon">
                <use xlink:href="../../../../assets/images/filter.svg#filter-button"></use>
              </svg>
        </span>
    </span>
</span>
</div>
</div>
</div>

<div class="d-flex" *ngIf="isMobile">
<div *ngIf="isMobile" class="search-mobile-container col global-search">
<button class="pi pi-search icon-font search-btn1" (click)="focus()"></button>
<!-- <span>{{isSearchFocused}}</span> -->
<input placeholder='Search' id="mobile-search-icon" class='js-search open' type="text" (keydown)="onKeydown($event)"
[(ngModel)]="filter.globalSearch" [ngClass]="{'open':isSearchFocused}">
<!-- <span [ngClass]="{'search-close':!isSearchFocused}" class="pi pi-times icon-font " style="right:50px" (click)="clearFilters()"></span> -->
</div>
<div class="input-group-append" *ngIf="!isSearchFocused && tableSearchConfig.showAdvancedSearch">
<span class="input-group-text pi pi-sliders-h icon-font px-3 py-3 cursor-pointer"
(click)="toggleAdvancedSearch()" #toggleButton></span>
</div>
<div class="input-group-append" *ngIf="isSearchFocused">
<span class="input-group-text pi pi-times icon-font px-3 py-3 cursor-pointer"
(click)="clearFilters()" ></span>
</div>
</div>

<div class="advanced-search ev-detail-view" *ngIf="(tableSearchConfig.showAdvancedSearch && showAdvancedSearch)" #menu>
<span class="pr-3 pt-0 adv-search-header" [innerHTML]="'Advanced Search'| translate"></span>
<span style="float:right" class="cursor-pointer"><i class="pi pi-times" (click)="toggleAdvancedSearch()"></i></span>
<form [formGroup]="tableSearchControls" (ngSubmit)="advancedSearch()" class="ev-form">
<div class="row form-body">
<div class="form-row vg-col-2">
<div class="form-col" [hidden]="hiddenFields.companyCode" id="companyCode">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.companyCode?.isRequired, 'error':inValidFields.companyCode}">
        <label for="companyCode" class="col-form-label companyCode-label" [textContent]=" 'COMPANY_CODE'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.companyCode?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.companyCode?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="companyCode" [placeholder]="tableSearchFieldConfig?.companyCode?.placeHolder || ''"
[maxlength]="tableSearchFieldConfig?.companyCode?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.companyCode?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.name" id="name">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.name?.isRequired, 'error':inValidFields.name}">
        <label for="name" class="col-form-label name-label" [textContent]=" 'NAME'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.name?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.name?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="name" [placeholder]="tableSearchFieldConfig?.name?.placeHolder || ''"
[maxlength]="tableSearchFieldConfig?.name?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.name?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.address" id="address">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.address?.isRequired, 'error':inValidFields.address}">
        <label for="address" class="col-form-label address-label" [textContent]=" 'ADDRESS'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.address?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.address?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="address" [placeholder]="tableSearchFieldConfig?.address?.placeHolder || ''"
[maxlength]="tableSearchFieldConfig?.address?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.address?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.postalCode" id="postalCode">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.postalCode?.isRequired, 'error':inValidFields.postalCode}">
        <label for="postalCode" class="col-form-label postalCode-label" [textContent]=" 'POSTAL_CODE'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.postalCode?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.postalCode?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="postalCode" [placeholder]="tableSearchFieldConfig?.postalCode?.placeHolder || ''"
[maxlength]="tableSearchFieldConfig?.postalCode?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.postalCode?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.city" id="city">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.city?.isRequired, 'error':inValidFields.city}">
        <label for="city" class="col-form-label city-label" [textContent]=" 'CITY'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.city?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.city?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="city" [placeholder]="tableSearchFieldConfig?.city?.placeHolder || ''"
[maxlength]="tableSearchFieldConfig?.city?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.city?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.administration" id="administration">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.administration?.isRequired, 'error':inValidFields.administration}">
        <label for="administration" class="col-form-label administration-label" [textContent]="'ADMINISTRATION'|translate"></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.administration?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.administration?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="tableSearchFieldConfig?.administration?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="administration" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemstableSearchadministration" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletetableSearchadministration('administration')"   (completeMethod)="autoSuggestSearchtableSearchadministration($event,tableSearchFieldConfig?.administration)"
            [multiple]="tableSearchFieldConfig?.administration?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemstableSearchadministration = []; isAutoSuggestCallFiredtableSearchadministration = false;" [field]="(tableSearchFieldConfig?.administration?.displayField)"
             (onSelect)="onSelect($event,'administration',tableSearchFieldConfig?.administration)" (onUnselect)="unSelect($event,'administration',tableSearchFieldConfig?.administration?.multiple)" appendTo="body"
(onClear)="unSelect($event,'administration',tableSearchFieldConfig?.administration?.multiple)">
<ng-template let-item pTemplate="item">
                <div [innerHTML]="formatAutoComplete(item,tableSearchFieldConfig?.administration?.displayField,'administration')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.administration?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.locid" id="locid">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.locid?.isRequired, 'error':inValidFields.locid}">
        <label for="locid" class="col-form-label locid-label" [textContent]=" 'LOCID'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.locid?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.locid?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="locid" [placeholder]="tableSearchFieldConfig?.locid?.placeHolder || ''"
[maxlength]="tableSearchFieldConfig?.locid?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.locid?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.locidValue" id="locidValue">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.locidValue?.isRequired, 'error':inValidFields.locidValue}">
        <label for="locidValue" class="col-form-label locidValue-label" [textContent]=" 'LOCID_VALUE'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.locidValue?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.locidValue?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="locidValue" [placeholder]="tableSearchFieldConfig?.locidValue?.placeHolder || ''"
[maxlength]="tableSearchFieldConfig?.locidValue?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.locidValue?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.relationType" id="relationType">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.relationType?.isRequired, 'error':inValidFields.relationType}">
        <label for="relationType" class="col-form-label relationType-label" [textContent]="'RELATION_TYPE'|translate"></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.relationType?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.relationType?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="tableSearchFieldConfig?.relationType?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="relationType" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemstableSearchrelationType" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletetableSearchrelationType('relationType')"   (completeMethod)="autoSuggestSearchtableSearchrelationType($event,tableSearchFieldConfig?.relationType)"
            [multiple]="tableSearchFieldConfig?.relationType?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemstableSearchrelationType = []; isAutoSuggestCallFiredtableSearchrelationType = false;" [field]="(tableSearchFieldConfig?.relationType?.displayField)"
             (onSelect)="onSelect($event,'relationType',tableSearchFieldConfig?.relationType)" (onUnselect)="unSelect($event,'relationType',tableSearchFieldConfig?.relationType?.multiple)" appendTo="body"
(onClear)="unSelect($event,'relationType',tableSearchFieldConfig?.relationType?.multiple)">
<ng-template let-item pTemplate="item">
                <div [innerHTML]="formatAutoComplete(item,tableSearchFieldConfig?.relationType?.displayField,'relationType')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.relationType?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.standardPurchaseNotation" id="standardPurchaseNotation">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.standardPurchaseNotation?.isRequired, 'error':inValidFields.standardPurchaseNotation}">
        <label for="standardPurchaseNotation" class="col-form-label standardPurchaseNotation-label" [textContent]="'STANDARD_PURCHASE_NOTATION'|translate"></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.standardPurchaseNotation?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.standardPurchaseNotation?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="tableSearchFieldConfig?.standardPurchaseNotation?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="standardPurchaseNotation" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemstableSearchstandardPurchaseNotation" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletetableSearchstandardPurchaseNotation('standardPurchaseNotation')"   (completeMethod)="autoSuggestSearchtableSearchstandardPurchaseNotation($event,tableSearchFieldConfig?.standardPurchaseNotation)"
            [multiple]="tableSearchFieldConfig?.standardPurchaseNotation?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemstableSearchstandardPurchaseNotation = []; isAutoSuggestCallFiredtableSearchstandardPurchaseNotation = false;" [field]="(tableSearchFieldConfig?.standardPurchaseNotation?.displayField)"
             (onSelect)="onSelect($event,'standardPurchaseNotation',tableSearchFieldConfig?.standardPurchaseNotation)" (onUnselect)="unSelect($event,'standardPurchaseNotation',tableSearchFieldConfig?.standardPurchaseNotation?.multiple)" appendTo="body"
(onClear)="unSelect($event,'standardPurchaseNotation',tableSearchFieldConfig?.standardPurchaseNotation?.multiple)">
<ng-template let-item pTemplate="item">
                <div [innerHTML]="formatAutoComplete(item,tableSearchFieldConfig?.standardPurchaseNotation?.displayField,'standardPurchaseNotation')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.standardPurchaseNotation?.helpText || ''}}</div>
    </div>
</div>
</div>
</div>
<div class="search-actions">
<div>
<button type="button" class="btn btn-secondary search-btn" (click)="clearFilterValues()">Clear
Filter</button>
</div>
<div >
<div class="btn-group mr-0" role="group">
<button type="button" class="btn btn-secondary search-btn"
(click)="toggleAdvancedSearch()">Cancel</button>
<button type="submit" class="btn btn-primary search-btn search-btn-primary">Search</button>
</div>
</div>
</div>

</form>
</div>
</div>
    </div>
</div><div class="row" id="filter-container" *ngIf="quickFilterConfig?.children?.length > 0">
    <div class="quick-filters ev-detail-view">
        <form [formGroup]="quickFilterControls">
             <div class="row align-filter" [ngClass]="quickFilterConfig.style ==='style_2'? 'rowfiltercolumnfilter':'columnfilter'">
                
            </div>
        </form>
    </div>
</div>    <div class=" paginator paginator-top p-mb-3" *ngIf="showPaginationOnTop">
    <ng-container *ngTemplateOutlet="paginator">
    </ng-container>
</div>
       <div id="table-container" class="viewAs-{{tableConfig.viewAs}}" [ngClass]="getClass()">
              <p-table [value]="gridData" dataKey="sid" [scrollable]="true" [columns]="selectedColumns" scrollHeight="flex"
           [paginator]="false" [rows]="params.length" [showCurrentPageReport]="true"  [(first)]="first" [lazy]="true" 
           rowHover="true" responsive="true" responsiveLayout="scroll"
          [customSort]="true" 
           [sortMode]="'single'"
          [selectionMode]="'multiple'"
           [(selection)]="selectedValues" 
           (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowSelect($event)"
         
           styleClass="table-container-style_2 striped
           gridLines"
>
           <ng-template pTemplate="header" let-columns>
               <tr>
                   <th scope="col"  [style.maxWidth]="'4rem'" >
                       <p-tableHeaderCheckbox (click)="onRowSelect($event)"></p-tableHeaderCheckbox>
                   </th>
 
 				 		<th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="companyCode"
        (click)="sort($event,'companyCode')"
     *ngIf="columns[0]">
    <span [innerHTML]="columns[0].label| translate" class=""></span>
        <p-sortIcon [field]="'companyCode'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="name"
        (click)="sort($event,'name')"
     *ngIf="columns[1]">
    <span [innerHTML]="columns[1].label| translate" class=""></span>
        <p-sortIcon [field]="'name'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="address"
        (click)="sort($event,'address')"
     *ngIf="columns[2]">
    <span [innerHTML]="columns[2].label| translate" class=""></span>
        <p-sortIcon [field]="'address'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="postalCode"
        (click)="sort($event,'postalCode')"
     *ngIf="columns[3]">
    <span [innerHTML]="columns[3].label| translate" class=""></span>
        <p-sortIcon [field]="'postalCode'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="city"
        (click)="sort($event,'city')"
     *ngIf="columns[4]">
    <span [innerHTML]="columns[4].label| translate" class=""></span>
        <p-sortIcon [field]="'city'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="administration"
        (click)="sort($event,'administration')"
     *ngIf="columns[5]">
    <span [innerHTML]="columns[5].label| translate" class=""></span>
        <p-sortIcon [field]="'administration'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="locid"
        (click)="sort($event,'locid')"
     *ngIf="columns[6]">
    <span [innerHTML]="columns[6].label| translate" class=""></span>
        <p-sortIcon [field]="'locid'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="locidValue"
        (click)="sort($event,'locidValue')"
     *ngIf="columns[7]">
    <span [innerHTML]="columns[7].label| translate" class=""></span>
        <p-sortIcon [field]="'locidValue'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="relationType"
        (click)="sort($event,'relationType')"
     *ngIf="columns[8]">
    <span [innerHTML]="columns[8].label| translate" class=""></span>
        <p-sortIcon [field]="'relationType'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="standardPurchaseNotation"
        (click)="sort($event,'standardPurchaseNotation')"
     *ngIf="columns[9]">
    <span [innerHTML]="columns[9].label| translate" class=""></span>
        <p-sortIcon [field]="'standardPurchaseNotation'"></p-sortIcon>
</th>			  
   
               </tr>
           </ng-template>
   
           <!-- rowGroup - subHeader -->
   
           <ng-template pTemplate="body" let-data 
               let-columns="columns" let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan" let-rowData ="rowData">
               <tr  (click)="onUpdate(data['sid'],$event)"
                   class="medium  border-box ">
                   <!-- selection -Multiple -->
                   <td [style.maxWidth]="'4rem'"
                       
                        class="record-selection">
                       <p-tableCheckbox [value]="data"></p-tableCheckbox>
                   </td>
   
 				 		<td  class="companyCode  overflow-hidden" tooltipActive *ngIf="columns[0]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>

        <span [innerHTML]="data[columns[0].fieldName]" class="ellipsis white-space-nowrap"></span>

</td><td  class="name  overflow-hidden" tooltipActive *ngIf="columns[1]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>

        <span [innerHTML]="data[columns[1].fieldName]" class="ellipsis white-space-nowrap"></span>

</td><td  class="address  overflow-hidden" tooltipActive *ngIf="columns[2]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>

        <span [innerHTML]="data[columns[2].fieldName]" class="ellipsis white-space-nowrap"></span>

</td><td  class="postalCode  overflow-hidden" tooltipActive *ngIf="columns[3]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>

        <span [innerHTML]="data[columns[3].fieldName]" class="ellipsis white-space-nowrap"></span>

</td><td  class="city  overflow-hidden" tooltipActive *ngIf="columns[4]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>

        <span [innerHTML]="data[columns[4].fieldName]" class="ellipsis white-space-nowrap"></span>

</td><td    class="administration  overflow-hidden" tooltipActive *ngIf="columns[5]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>
        <span [innerHTML]="data[columns[5].fieldName]" class="ellipsis white-space-nowrap"></span>

    </td><td  class="locid  overflow-hidden" tooltipActive *ngIf="columns[6]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>

        <span [innerHTML]="data[columns[6].fieldName]" class="ellipsis white-space-nowrap"></span>

</td><td  class="locidValue  overflow-hidden" tooltipActive *ngIf="columns[7]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>

        <span [innerHTML]="data[columns[7].fieldName]" class="ellipsis white-space-nowrap"></span>

</td><td    class="relationType  overflow-hidden" tooltipActive *ngIf="columns[8]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>
        <span [innerHTML]="data[columns[8].fieldName]" class="ellipsis white-space-nowrap"></span>

    </td><td    class="standardPurchaseNotation  overflow-hidden" tooltipActive *ngIf="columns[9]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>
        <span [innerHTML]="data[columns[9].fieldName]" class="ellipsis white-space-nowrap"></span>

    </td>			  
               </tr>
           </ng-template>
   
           <ng-template pTemplate="emptymessage">
                <tr class="no-records" *ngIf="!isPageLoading">
                       <td colspan="5"
                           [innerHTML]="'No records found'">
                       </td>
                   </tr>
           </ng-template>
       </p-table>
       
         <div class=" paginator paginator-bottom p-mb-3" *ngIf="showPaginationOnBottom" id="paginator-bottom">
            <ng-container *ngTemplateOutlet="paginator">
            </ng-container>
        </div>
    </div>
    
   <ng-template #paginator>
        <div class="paginator-label" [ngClass]="{'pagination-record-label':gridData.length < params.length}" > Showing
            {{gridData.length > 0 ? first + 1: first}} to {{first + gridData.length}} </div>
        <span *ngIf="updatedRecords.length >= params.length ">
            <p-button type="button" icon="pi pi-angle-double-left" (onClick)="onRefresh()"
                [disabled]=" this.first === 0" styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-angle-left" (onClick)="prev()" [disabled]="this.first === 0"
                styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-refresh" (onClick)="onRefresh()" styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-angle-right" (onClick)="next()"
                [disabled]="((first + rows) > updatedRecords.length)" styleClass="p-button-text"></p-button>
        </span>
    </ng-template>
</div>
