<div class="list price-notations-list">
 <div class="wrokflow-simulate" *ngIf="showWorkflowSimulator">
        <span class="arrow_box">Workflow Simulator</span>
        <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded wrokflow-simulate-btn"  [fitContent]="false"  (click)="openWorkflowSimilator()"></button>
    </div>
   <div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar" *ngIf="(isMobile && !isSearchFocused) || !isMobile">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
        <div class="w-100"  *ngIf="showBreadcrumb"> <app-breadcrumb></app-breadcrumb></div>
        <app-action-bar [buttons] = "leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'" [style.width]="'25%'" [style.overflow]="'hidden'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><app-action-bar [buttons] = "rightActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'" [style.width]="'25%'" [style.overflow]="'hidden'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><div class="p-0" id="search-container" [ngStyle]="{'width':isMobile && isSearchFocused? '100%':'50%' }">
<div *ngIf="!isMobile" class="col global-search p-3">
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text show-advanced">
<span class="pi pi-search icon-font"></span>
</span>
</div>
<input type="text" class="form-control" pInputText [placeholder]="'Search' | translate"
(keydown)="onKeydown($event)" [(ngModel)]="filter.globalSearch" />
<div class="input-group-append ">
<span class="input-group-text show-advanced cursor-pointer">
    <span (click)="toggleAdvancedSearch()" class="advancedsearch-icon" #toggleButton
        *ngIf="tableSearchConfig.showAdvancedSearch">
        <span class="icon-filter">
             <svg class="filter-icon">
                <use xlink:href="../../../../assets/images/filter.svg#filter-button"></use>
              </svg>
        </span>
    </span>
</span>
</div>
</div>
</div>

<div class="d-flex" *ngIf="isMobile">
<div *ngIf="isMobile" class="search-mobile-container col global-search">
<button class="pi pi-search icon-font search-btn1" (click)="focus()"></button>
<!-- <span>{{isSearchFocused}}</span> -->
<input placeholder='Search' id="mobile-search-icon" class='js-search open' type="text" (keydown)="onKeydown($event)"
[(ngModel)]="filter.globalSearch" [ngClass]="{'open':isSearchFocused}">
<!-- <span [ngClass]="{'search-close':!isSearchFocused}" class="pi pi-times icon-font " style="right:50px" (click)="clearFilters()"></span> -->
</div>
<div class="input-group-append" *ngIf="!isSearchFocused && tableSearchConfig.showAdvancedSearch">
<span class="input-group-text pi pi-sliders-h icon-font px-3 py-3 cursor-pointer"
(click)="toggleAdvancedSearch()" #toggleButton></span>
</div>
<div class="input-group-append" *ngIf="isSearchFocused">
<span class="input-group-text pi pi-times icon-font px-3 py-3 cursor-pointer"
(click)="clearFilters()" ></span>
</div>
</div>

<div class="advanced-search ev-detail-view" *ngIf="(tableSearchConfig.showAdvancedSearch && showAdvancedSearch)" #menu>
<span class="pr-3 pt-0 adv-search-header" [innerHTML]="'Advanced Search'| translate"></span>
<span style="float:right" class="cursor-pointer"><i class="pi pi-times" (click)="toggleAdvancedSearch()"></i></span>
<form [formGroup]="tableSearchControls" (ngSubmit)="advancedSearch()" class="ev-form">
<div class="row form-body">
<div class="form-row vg-col-2">
<div class="form-col" [hidden]="hiddenFields.priceNotationKey" id="priceNotationKey">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.priceNotationKey?.isRequired, 'error':inValidFields.priceNotationKey}">
        <label for="priceNotationKey" class="col-form-label priceNotationKey-label" [textContent]=" 'PRICE_NOTATION_KEY'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.priceNotationKey?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.priceNotationKey?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="priceNotationKey" [placeholder]="tableSearchFieldConfig?.priceNotationKey?.placeHolder || ''"
[maxlength]="tableSearchFieldConfig?.priceNotationKey?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.priceNotationKey?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.priceNotationName" id="priceNotationName">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.priceNotationName?.isRequired, 'error':inValidFields.priceNotationName}">
        <label for="priceNotationName" class="col-form-label priceNotationName-label" [textContent]=" 'PRICE_NOTATION_NAME'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.priceNotationName?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.priceNotationName?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="priceNotationName" [placeholder]="tableSearchFieldConfig?.priceNotationName?.placeHolder || ''"
[maxlength]="tableSearchFieldConfig?.priceNotationName?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.priceNotationName?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.concept" id="concept">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.concept?.isRequired, 'error':inValidFields.concept}">
        <label for="concept" class="col-form-label concept-label" [textContent]=" 'CONCEPT'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.concept?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.concept?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="concept" [placeholder]="tableSearchFieldConfig?.concept?.placeHolder || ''"
[maxlength]="tableSearchFieldConfig?.concept?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.concept?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.country" id="country">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.country?.isRequired, 'error':inValidFields.country}">
        <label for="country" class="col-form-label country-label" [textContent]=" 'COUNTRY'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.country?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.country?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="country" [placeholder]="tableSearchFieldConfig?.country?.placeHolder || ''"
[maxlength]="tableSearchFieldConfig?.country?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.country?.helpText || ''}}</div>
    </div>
</div>
</div>
</div>
<div class="search-actions">
<div>
<button type="button" class="btn btn-secondary search-btn" (click)="clearFilterValues()">Clear
Filter</button>
</div>
<div >
<div class="btn-group mr-0" role="group">
<button type="button" class="btn btn-secondary search-btn"
(click)="toggleAdvancedSearch()">Cancel</button>
<button type="submit" class="btn btn-primary search-btn search-btn-primary">Search</button>
</div>
</div>
</div>

</form>
</div>
</div>
    </div>
</div><div class="row" id="filter-container" *ngIf="quickFilterConfig?.children?.length > 0">
    <div class="quick-filters ev-detail-view">
        <form [formGroup]="quickFilterControls">
             <div class="row align-filter" [ngClass]="quickFilterConfig.style ==='style_2'? 'rowfiltercolumnfilter':'columnfilter'">
                
            </div>
        </form>
    </div>
</div>    <div class=" paginator paginator-top p-mb-3" *ngIf="showPaginationOnTop">
    <ng-container *ngTemplateOutlet="paginator">
    </ng-container>
</div>
       <div id="table-container" class="viewAs-{{tableConfig.viewAs}}" [ngClass]="getClass()">
              <p-table [value]="gridData" dataKey="sid" [scrollable]="true" [columns]="selectedColumns" scrollHeight="flex"
           [paginator]="false" [rows]="params.length" [showCurrentPageReport]="true"  [(first)]="first" [lazy]="true" 
           rowHover="true" responsive="true" responsiveLayout="scroll"
          [customSort]="true" 
           [sortMode]="'single'"
          [selectionMode]="'multiple'"
           [(selection)]="selectedValues" 
           (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowSelect($event)"
         
           styleClass="table-container-style_2 striped
           gridLines"
>
           <ng-template pTemplate="header" let-columns>
               <tr>
                   <th scope="col"  [style.maxWidth]="'4rem'" >
                       <p-tableHeaderCheckbox (click)="onRowSelect($event)"></p-tableHeaderCheckbox>
                   </th>
 
 				 		<th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="priceNotationKey"
        (click)="sort($event,'priceNotationKey')"
     *ngIf="columns[0]">
    <span [innerHTML]="columns[0].label| translate" class=""></span>
        <p-sortIcon [field]="'priceNotationKey'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="priceNotationName"
        (click)="sort($event,'priceNotationName')"
     *ngIf="columns[1]">
    <span [innerHTML]="columns[1].label| translate" class=""></span>
        <p-sortIcon [field]="'priceNotationName'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="concept"
        (click)="sort($event,'concept')"
     *ngIf="columns[2]">
    <span [innerHTML]="columns[2].label| translate" class=""></span>
        <p-sortIcon [field]="'concept'"></p-sortIcon>
</th><th scope="col" 
[style.min-width]="'120px'"
     
     [style.width]="'120px'"
        style="overflow:hidden"  
        pSortableColumn="country"
        (click)="sort($event,'country')"
     *ngIf="columns[3]">
    <span [innerHTML]="columns[3].label| translate" class=""></span>
        <p-sortIcon [field]="'country'"></p-sortIcon>
</th>			  
   
               </tr>
           </ng-template>
   
           <!-- rowGroup - subHeader -->
   
           <ng-template pTemplate="body" let-data 
               let-columns="columns" let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan" let-rowData ="rowData">
               <tr  (click)="onUpdate(data['sid'],$event)"
                   class="medium  border-box ">
                   <!-- selection -Multiple -->
                   <td [style.maxWidth]="'4rem'"
                       
                        class="record-selection">
                       <p-tableCheckbox [value]="data"></p-tableCheckbox>
                   </td>
   
 				 		<td  class="priceNotationKey  overflow-hidden" tooltipActive *ngIf="columns[0]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>

        <span [innerHTML]="data[columns[0].fieldName]" class="ellipsis white-space-nowrap"></span>

</td><td  class="priceNotationName  overflow-hidden" tooltipActive *ngIf="columns[1]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>

        <span [innerHTML]="data[columns[1].fieldName]" class="ellipsis white-space-nowrap"></span>

</td><td  class="concept  overflow-hidden" tooltipActive *ngIf="columns[2]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>

        <span [innerHTML]="data[columns[2].fieldName]" class="ellipsis white-space-nowrap"></span>

</td><td  class="country  overflow-hidden" tooltipActive *ngIf="columns[3]&&((isMobile && tableConfig.showOnMobile) || !isMobile)" 
[style.min-width]="'120px'"
[style.width]="'120px'"
>

        <span [innerHTML]="data[columns[3].fieldName]" class="ellipsis white-space-nowrap"></span>

</td>			  
               </tr>
           </ng-template>
   
           <ng-template pTemplate="emptymessage">
                <tr class="no-records" *ngIf="!isPageLoading">
                       <td colspan="5"
                           [innerHTML]="'No records found'">
                       </td>
                   </tr>
           </ng-template>
       </p-table>
       
         <div class=" paginator paginator-bottom p-mb-3" *ngIf="showPaginationOnBottom" id="paginator-bottom">
            <ng-container *ngTemplateOutlet="paginator">
            </ng-container>
        </div>
    </div>
    
   <ng-template #paginator>
        <div class="paginator-label" [ngClass]="{'pagination-record-label':gridData.length < params.length}" > Showing
            {{gridData.length > 0 ? first + 1: first}} to {{first + gridData.length}} </div>
        <span *ngIf="updatedRecords.length >= params.length ">
            <p-button type="button" icon="pi pi-angle-double-left" (onClick)="onRefresh()"
                [disabled]=" this.first === 0" styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-angle-left" (onClick)="prev()" [disabled]="this.first === 0"
                styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-refresh" (onClick)="onRefresh()" styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-angle-right" (onClick)="next()"
                [disabled]="((first + rows) > updatedRecords.length)" styleClass="p-button-text"></p-button>
        </span>
    </ng-template>
</div>
