@import "~base/app/slaughter-report/slaughter-report/dashboard/_dashboard.base.scss";
.dasboard-titlebar{
    background-color: #94c11c;
    color: #fff;
}
.dashboard-container{
    padding: 10px 15px;
    border-radius: 4px;
}
#lookerIframe{
    width: 100%;
    height: 80vh;
    border-radius: 4px;
}