<div id="title-bar" class="dasboard-titlebar">
    <div class="display">
        <div class="col" class="page-title-bar">
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
    </div>
</div>
<div class="dashboard-container">
    <iframe
        src="https://lookerstudio.google.com/embed/reporting/96d8f054-5759-4971-915b-95723456c847/page/2TkKD"
        id="lookerIframe"
        ></iframe>
</div>