@import "../../../../src/sass/variables";
@import "../../../sass-base/_base-variables.scss";

.app-header {
    background-color: $header-background-color;
    font-family: $header-font-family;
    font-style: $header-font-style;
    font-weight: $header-font-weight;
    font-size: $header-font-size;
    // padding: 0px 0px 0px 1.5rem;
    width: 100%;
    display: flex;
    a {
        text-decoration: none;
    }
    .vg-app-header__element {
        width: 100%;
        &.left {
            width: auto;
            min-width: 280px;
            display: flex;
            align-items: center;
            .logo {
                max-height: 30px;
                max-width: 150px;
                height: 30px;
                margin: 5px 0px 0px 3px;
            }
        }
        &.right {
            float: right;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .vg-app-header__element_item {
                float: right;
            }
        }
        &.middle {
            width: 100%;
            display: flex;
            overflow: auto;
            .vg-middle-header-container {
                // width: 33%;
                display: flex;
                align-items: center;
                // overflow: hidden;
                .vg-app-header__element_item {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .mid-element-container {
                        flex: auto;
                    }
                }
            }
            .top-bar-item {
                margin-right: 0px;
            }
        }
    }
    .app-header__content {
        overflow: hidden;
        padding: 0;
    }
}
.top-bar-item {
    .nav {
        flex-wrap: nowrap;
    }
    .nav-link {
        // flex-direction: column;
        display: flex;
        flex-direction: row;
        justify-content: center;
        i {
            color: $header-secondary-icon-color;
            font-size: $header-secondary-font-size;
        }
    }
    .topbarDropdownItem {
        width: 100%;
    }
    .app-title {
        max-width: 500px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $app-title-color;
        font-size: $app-title-font-size;
    }
    .avatar {
        display: flex;
        align-items: center;
        border: none;
    }
    .menu-icon {
        i {
            color: $header-primary-icon-color;
            font-size: $header-primary-icon-font-size;
        }
    }
    .nav-link-icon {
        color: $header-secondary-icon-color;
        width: 30px;
        font-size: $header-secondary-font-size;
    }
    .nav-link-label {
        font-size: $header-secondary-font-size;
        color: $header-secondary-color;
    }
    .user-drop-down-label {
        color: $header-primary-color;
        font-size: $header-secondary-font-size;
    }

    .user-widget-label {
        color: $header-primary-color;
        font-size: $header-primary-font-size;
        .text-ellipsis {
            max-width: 200px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-align: justify;
        }
    }
    .dropdown-menu {
        position: fixed !important;
        padding: 0.5rem 0.5rem !important;
        font-size: $header-secondary-font-size !important;
        // overflow: auto;
        max-height: 80%;
        /* left: auto !important;
            li {
                position: relative;
            }
            .dropdown-submenu {
                display: none;
                position: absolute;
                left: 100%;
                top: -7px;
            } */
    }
    .user-icon {
        font-size: $header-secondary-font-size;
    }
}

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    right: 0;
}

.hamburger-container {
    min-width: 40px;
    margin-left: 12px;
    img {
        width: $primary-icon-size;
        max-width: 2.5rem;
        max-height: 2.5rem;
    }
}

:host ::ng-deep .top-bar-item {
    .p-inputtext,
    .p-dropdown-panel {
        font-size: $header-secondary-font-size !important;
        padding: 0.2rem 0.5rem;
    }
    .p-avatar {
        width: 3rem;
        height: 3rem;
    }
}

@media only screen and (max-width: 1320px) {
    .app-header {
        .vg-app-header__element {
            &.right {
                width: auto;
            }
            &.middle {
                width: 100%;
            }
        }
    }
    .top-bar-item {
        .user-widget-label {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .app-header {
        .vg-app-header__element {
            &.left {
                width: 90%;
            }
            &.right {
                margin-left: auto;
                float: none;
                width: 100%;
                justify-content: flex-start;
                .vg-app-header__element_item {
                    float: none;
                }
            }

            &.middle {
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: center;
                .vg-middle-header-container {
                    width: 100%;
                    overflow: initial;
                    .vg-app-header__element_item {
                        align-items: center;
                        flex-direction: column;
                        width: 100%;
                    }
                    .mobile-menu {
                        position: absolute !important;
                        transform: translate3d(0px, 39px, 0px) !important;
                        top: -45px !important;
                        right: 90%;
                        left: auto !important;
                        will-change: transform !important;
                        min-width: 180px !important;
                    }
                    .mid-element-container {
                        height: 60px;
                        width: 100%;
                    }
                }
            }
        }
        .app-header__content {
            left: 55%;
            width: 40%;
            border-radius: 0px;
            top: 70px !important;
            padding: 10px 10px 10px 10px !important;
            height: auto;
            flex-direction: column;
            overflow: inherit !important;
            .header-mobile-open {
                top: 70px;
            }
        }
    }
    .top-bar-item {
        .user-widget-label {
            display: block;
        }
        .nav-link {
            flex-direction: row;
        }
        .dropdown-menu {
            left: 45% !important;
        }
    }
    .language-container {
        display: block;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .app-header {
        .vg-app-header__element {
            &.middle {
                width: 100%;
                .vg-middle-header-container {
                    .vg-app-header__element_item {
                        .mid-element-container {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
        .app-header__content {
            left: 15%;
            width: 70%;
            padding: 10px 10px 10px 10px !important;
        }
    }

    .top-bar-item {
        // margin-right: 15px;
        .user-icon {
            display: none;
        }
        .logo {
            width: 40px;
        }
        .user-widget-label {
            .text-ellipsis {
                max-width: 100px;
            }
        }
        .dropdown-menu {
            left: 5% !important;
        }
    }
}

.app-header__menu {
    padding: 0.5rem;
    padding-right: 1.5rem;
}

.app-header {
    height: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: 10;
    transition: all 0.2s;
    border-bottom: 1px solid #e6e6e6;
    a {
        text-decoration: none;
    }
}

.app-header .app-header__content {
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    padding: 0 1.5rem;
    // height: 60px;
}
.app-header .app-header__content .app-header-left {
    display: flex;
    align-items: center;
}

.app-header .app-header__content .app-header-right {
    align-items: center;
    display: flex;
    margin-left: auto;
}
.app-header .header-user-info > .widget-heading,
.app-header .header-user-info > .widget-subheading {
    white-space: nowrap;
}
.app-header .header-user-info > .widget-subheading {
    font-size: $header-secondary-font-size;
}

.app-header__menu,
.app-header__mobile-menu {
    display: none;
    /* padding: 0 1.5rem;
    height: 60px;
    align-items: center; */
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
}
.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}
.logo-container{
    width: 281px;  
    border-bottom: 2px solid white;
    border-right: 1px solid #6d6d6d1f;
    height: 61px;
    align-items: center;
    display: flex;
    transition: all 0.3s ease;
}
