.app-title{
    color: #008c35 !important;
}
.ev-detail-view .ev-form .form-body .form-col .field-row {
    flex-direction: row;
}

.col-form-label {
    width: 50%;
}

.ev-detail-view .ev-form p-password,
.ev-detail-view .ev-form p-dropdown {
    width: 50%;
}

.ev-detail-view .ev-form .form-input {
    width: 50%;
}

.ev-detail-view .ev-form .form-control {
    width: 50%;
}

.ev-detail-view .ev-form .form-input:not(p-calendar) .p-component {
    width: 100%;
}

.ev-detail-view .ev-form .radio-group {
    width: 50%;
}

.ev-detail-view .ev-form p-checkbox.form-input {
    width: 100%;
}

.ev-detail-view .ev-form .form-input:not(p-calendar) .p-component.p-checkbox {
    width: auto;
}


#sectionREMARKS {
    .p-inputtextarea {
        min-height: 100px;
        width: 100%;
    }

    .col-form-label {
        width: 100%;
    }
}

p-inputnumber .p-inputnumber-input {
    text-align: right;
}

.ev-detail-view .ev-form .form-body .form-col .field-row {
    margin-bottom: 5px;
}

#app-sidebar-container {
    .vertical-nav-menu {
        .menu-active {
            .menu-heading-icon {
                color: #94c11c !important;
            }

            .menu-heading-label {
                color: #94c11c !important;
            }
        }

        .sidebar-menu-items:hover {
            .menu-heading-icon {
                color: #94c11c !important;
            }

            .menu-heading-label {
                color: #94c11c !important;
            }
        }
    }
}

#app-sidebar-container {

    .vertical-nav-menu li a:hover .submenu-heading-label,
    .vertical-nav-menu li a.menu-active .submenu-heading-label {
        color: #94c11c !important;
    }

    .vertical-nav-menu li a:hover .submenu-heading-icon,
    .vertical-nav-menu li a.menu-active .submenu-heading-icon {
        color: #94c11c !important;
    }
}

.confirm-popup-container textarea {
    width: 100%;
}

.form-control:focus,
.form-control:hover,
.p-component:focus,
.p-component:hover,
.p-calendar:focus,
.p-calendar:hover,
.p-radiobutton-box:focus,
.p-radiobutton-box:hover {
    border-color: #94c11c !important;
}

.p-radiobutton .p-radiobutton-box {
    &:hover {
        border-color: #94c11c;
    }

    &.p-highlight {
        border-color: #94c11c;
        background: transparent;
    }

    .p-radiobutton-icon {
        background-color: #94c11c !important;
    }
}

.p-checkbox .p-checkbox-box {
    &:hover {
        border-color: #94c11c !important;
    }

    &.p-highlight {
        border-color: #94c11c !important;
        background: #94c11c !important;
    }

    .p-checkbox-icon {
        border-color: #94c11c !important;
        background-color: #94c11c !important;
    }
}

.ev-detail-view .p-checkbox-label.p-disabled, .ev-detail-view .p-radiobutton-label.p-disabled{
    background: transparent !important;
}

.totalLesionVzl-label, .totalLesionScoreVzl-label{
    width: 45%;
}
.info-bubble{
    width: 5%;
    left: -10px;
}

.p-dialog .p-dialog-footer {
    button{
        background-color: #008c35;
        border-color: #008c35;
    }
    .p-confirm-dialog-reject{
        background-color: #999;
        border-color: #999;
    }
}