<div class="detail relations-detail">
 <div class="wrokflow-simulate" *ngIf="showWorkflowSimulator">
        <span class="arrow_box">Workflow Simulator</span>
        <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded wrokflow-simulate-btn"  [fitContent]="false"  (click)="openWorkflowSimilator()"></button>
    </div>
   <div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar" *ngIf="(isMobile && !isSearchFocused) || !isMobile">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
        <div class="w-100"  *ngIf="showBreadcrumb"> <app-breadcrumb></app-breadcrumb></div>
        <app-action-bar [buttons] = "leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'" [style.width]="'25%'" [style.overflow]="'hidden'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><app-workflow-action-bar [buttons] = "workflowActionBarConfig.children"
(onBtnClick)='workflowActionBarAction($event)'
[workflow]="workflowActions"
[style.order]="isMobile?'1':'0'" [style.overflow]="'hidden'">
</app-workflow-action-bar>
    </div>
</div><ul class="nav  caption-bar" *ngIf="detailCaptionBarConfig?.children?.length > 0 && data.sid" [ngStyle]="{width: detailCaptionBarConfig.width, 'justify-content':detailCaptionBarConfig.align}" id="caption-bar">
        <li class="nav-item" *ngFor="let captionItem of detailCaptionBarConfig.children" [style.display]="((captionItem.showOn =='mobile_only' && isMobile) || (captionItem.showOn =='desktop_only' && !isMobile) || (captionItem.showOn =='both')||(!captionItem.showOn))?'block':'none'">
            <div class="card" *ngIf="data && formatCaptionItems(captionItem,data)">
                <div class="card-body">
                   <h5 class="card-title" >{{captionItem.label | translate}}</h5>
                          <div *ngIf="!captionItem.render" class="card-sub-title" [innerHTML]="data && formatCaptionItems(captionItem,data)">
                         </div>
                    <div *ngIf="captionItem.render" class="card-sub-title">
                        <div [innerHtml]="captionItem.render(captionItem)"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul><div class="ev-detail-view" id="detail-view-container">
    <div class="detail-flex-box">
        <div class="flex align-items-center justify-content-center wizard-container col-2" *ngIf="wizardItems?.length && showScrollSpy" id="detail-wizard">
            <p-tieredMenu #menu [model]="wizardItems"></p-tieredMenu>
        </div>
        <div class="flex align-items-center justify-content-center form-container">
            <form class="ev-form " [formGroup]="detailFormControls" #detailForm [ngClass]="{'read-only-fields':enableReadOnly}">
                <div class="row form-body">
                    <div class="form-row vg-col-1">
                        <div class="form-col" [hidden]="hiddenFields.relationType" id="relationType">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.relationType?.isRequired, 'error':inValidFields.relationType}">
        <label for="relationType" class="col-form-label relationType-label" [textContent]="'RELATION_TYPE'|translate"></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.relationType?.infoBubble"   [pTooltip]="formFieldConfig?.relationType?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="formFieldConfig?.relationType?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="relationType" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemsdetailFormrelationType" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletedetailFormrelationType('relationType')"   (completeMethod)="autoSuggestSearchdetailFormrelationType($event,formFieldConfig?.relationType)"
            [multiple]="formFieldConfig?.relationType?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemsdetailFormrelationType = []; isAutoSuggestCallFireddetailFormrelationType = false;" [field]="(formFieldConfig?.relationType?.displayField)"
             (onSelect)="onSelect($event,'relationType',formFieldConfig?.relationType)" (onUnselect)="unSelect($event,'relationType',formFieldConfig?.relationType?.multiple)" appendTo="body"
(onClear)="unSelect($event,'relationType',formFieldConfig?.relationType?.multiple)">
<ng-template let-item pTemplate="item">
                <div [innerHTML]="formatAutoComplete(item,formFieldConfig?.relationType?.displayField,'relationType')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.relationType?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.relatedCompanyFromId" id="relatedCompanyFromId">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.relatedCompanyFromId?.isRequired, 'error':inValidFields.relatedCompanyFromId}">
        <label for="relatedCompanyFromId" class="col-form-label relatedCompanyFromId-label" [textContent]="'RELATED_COMPANY_FROM_ID'|translate"></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.relatedCompanyFromId?.infoBubble"   [pTooltip]="formFieldConfig?.relatedCompanyFromId?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="formFieldConfig?.relatedCompanyFromId?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="relatedCompanyFromId" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemsdetailFormrelatedCompanyFromId" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletedetailFormrelatedCompanyFromId('relatedCompanyFromId')"   (completeMethod)="autoSuggestSearchdetailFormrelatedCompanyFromId($event,formFieldConfig?.relatedCompanyFromId)"
            [multiple]="formFieldConfig?.relatedCompanyFromId?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemsdetailFormrelatedCompanyFromId = []; isAutoSuggestCallFireddetailFormrelatedCompanyFromId = false;" [field]="(formFieldConfig?.relatedCompanyFromId?.displayField)"
             (onSelect)="onSelect($event,'relatedCompanyFromId',formFieldConfig?.relatedCompanyFromId)" (onUnselect)="unSelect($event,'relatedCompanyFromId',formFieldConfig?.relatedCompanyFromId?.multiple)" appendTo="body"
(onClear)="unSelect($event,'relatedCompanyFromId',formFieldConfig?.relatedCompanyFromId?.multiple)">
<ng-template let-item pTemplate="item">
                <div [innerHTML]="formatAutoComplete(item,formFieldConfig?.relatedCompanyFromId?.displayField,'relatedCompanyFromId')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.relatedCompanyFromId?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.relatedCompanyFrom" id="relatedCompanyFrom">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.relatedCompanyFrom?.isRequired, 'error':inValidFields.relatedCompanyFrom}">
        <label for="relatedCompanyFrom" class="col-form-label relatedCompanyFrom-label" [textContent]=" 'RELATED_COMPANY_FROM'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.relatedCompanyFrom?.infoBubble"   [pTooltip]="formFieldConfig?.relatedCompanyFrom?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="relatedCompanyFrom" [placeholder]="formFieldConfig?.relatedCompanyFrom?.placeHolder || ''"
[maxlength]="formFieldConfig?.relatedCompanyFrom?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.relatedCompanyFrom?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.relatedCompanyToId" id="relatedCompanyToId">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.relatedCompanyToId?.isRequired, 'error':inValidFields.relatedCompanyToId}">
        <label for="relatedCompanyToId" class="col-form-label relatedCompanyToId-label" [textContent]="'RELATED_COMPANY_TO_ID'|translate"></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.relatedCompanyToId?.infoBubble"   [pTooltip]="formFieldConfig?.relatedCompanyToId?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="formFieldConfig?.relatedCompanyToId?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="relatedCompanyToId" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemsdetailFormrelatedCompanyToId" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletedetailFormrelatedCompanyToId('relatedCompanyToId')"   (completeMethod)="autoSuggestSearchdetailFormrelatedCompanyToId($event,formFieldConfig?.relatedCompanyToId)"
            [multiple]="formFieldConfig?.relatedCompanyToId?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemsdetailFormrelatedCompanyToId = []; isAutoSuggestCallFireddetailFormrelatedCompanyToId = false;" [field]="(formFieldConfig?.relatedCompanyToId?.displayField)"
             (onSelect)="onSelect($event,'relatedCompanyToId',formFieldConfig?.relatedCompanyToId)" (onUnselect)="unSelect($event,'relatedCompanyToId',formFieldConfig?.relatedCompanyToId?.multiple)" appendTo="body"
(onClear)="unSelect($event,'relatedCompanyToId',formFieldConfig?.relatedCompanyToId?.multiple)">
<ng-template let-item pTemplate="item">
                <div [innerHTML]="formatAutoComplete(item,formFieldConfig?.relatedCompanyToId?.displayField,'relatedCompanyToId')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.relatedCompanyToId?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.relatedCompanyTo" id="relatedCompanyTo">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.relatedCompanyTo?.isRequired, 'error':inValidFields.relatedCompanyTo}">
        <label for="relatedCompanyTo" class="col-form-label relatedCompanyTo-label" [textContent]=" 'RELATED_COMPANY_TO'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.relatedCompanyTo?.infoBubble"   [pTooltip]="formFieldConfig?.relatedCompanyTo?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="relatedCompanyTo" [placeholder]="formFieldConfig?.relatedCompanyTo?.placeHolder || ''"
[maxlength]="formFieldConfig?.relatedCompanyTo?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.relatedCompanyTo?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.stable" id="stable">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.stable?.isRequired, 'error':inValidFields.stable}">
        <label for="stable" class="col-form-label stable-label" [textContent]="'STABLE'|translate"></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.stable?.infoBubble"   [pTooltip]="formFieldConfig?.stable?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="formFieldConfig?.stable?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="stable" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemsdetailFormstable" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletedetailFormstable('stable')"   (completeMethod)="autoSuggestSearchdetailFormstable($event,formFieldConfig?.stable)"
            [multiple]="formFieldConfig?.stable?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemsdetailFormstable = []; isAutoSuggestCallFireddetailFormstable = false;" [field]="(formFieldConfig?.stable?.displayField)"
             (onSelect)="onSelect($event,'stable',formFieldConfig?.stable)" (onUnselect)="unSelect($event,'stable',formFieldConfig?.stable?.multiple)" appendTo="body"
(onClear)="unSelect($event,'stable',formFieldConfig?.stable?.multiple)">
<ng-template let-item pTemplate="item">
                <div [innerHTML]="formatAutoComplete(item,formFieldConfig?.stable?.displayField,'stable')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.stable?.helpText || ''}}</div>
    </div>
</div>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>
</div>
